.about-page
    .breadcrumbs-block
        .container
            ul.breadcrumbs
                li 
                    a(href="/") Клубный дом
                li
                    a О проекте

    .about-page__item
        .about-page__column
            h1.main-title.main-title_inner О проекте
            ul.about-page__tab-link
                li
                    a(href="#tabFirst").is-active Архитектура
                li
                    a(href="#tabSecond") Расположение
                li
                    a(href="#tabThird") Планировки

        .about-page__column
            .about-page__tab-block#tabFirst
                .num-block 01
                .building-img
                    img(src="img/build.jpg" alt="Клубный дом на Покровке")
                .info-block
                    .info-block__inner
                        .info-block__title
                            span Архитектура

                        .info-block__article
                            p Клубный дом на Покровке – это уникальный исторический особняк второй середины IXX века, состоящий из нескольких разноуровневых городских апартаментов.
                            p Клубный дом на Покровке обладает своим неповторимым шармом и уникальным архитектурным обликом, вписывающимся в окружающую среду исторической Москвы


                .arh-slider.swiper-container
                    .swiper-wrapper
                        .swiper-slide(style="background-image:url(img/back-about.jpg)")
                        .swiper-slide(style="background-image:url(img/front-about.jpg)")
                        .swiper-slide(style="background-image:url(img/back-about.jpg)")

                    .swiper-pagination

                    .swiper-button-next
                    .swiper-button-prev

            .about-page__tab-block#tabSecond
                .num-block 02
                .info-block
                    .info-block__inner
                        .info-block__title
                            span Расположение

                        .info-block__article
                            p Клубный дом на Покровке расположен в тихом московском дворе между улицами Покровка и Машкова, в 250 м. от Садового кольца и 440 м. от Чистопрудного бульвара
                            p В пешей доступности находятся несколько городских парков, достопримечательностей и общественных пространств, а также множество объектов инфраструктуры
                            p От Садового кольца - 
                                b 250 
                                span м
                            p От Чистопрудного бульвара - 
                                b 440 
                                span м
                .building-img
                    img(src="img/cont-1.jpg" alt="Клубный дом на Покровке")
                .arh-slider.swiper-container.local-slider
                    .swiper-wrapper
                        .swiper-slide(style="background-image:url(img/cont-1.jpg)")
                        .swiper-slide(style="background-image:url(img/cont-2.jpg)")
                        .swiper-slide(style="background-image:url(img/cont-1.jpg)")

                    .swiper-pagination

                    .swiper-button-next
                    .swiper-button-prev

                #mapMain.about-map
            .about-page__tab-block#tabThird
                .num-block 03
                .building-img
                    img(src="img/plan-img.jpg" alt="Клубный дом на Покровке")
                .info-block
                    .info-block__inner
                        .info-block__title
                            span Планировки

                        .info-block__article
                            p Второй уровень станет местом для личных апартаментов хозяев, отдыха у камина и работы
                            p В апартаментах могут разместиться пространства для общения и приема гостей, кухня и технические помещения
                            ul.info-block__list
                                li Общая площадь здания - 
                                    b 501,5
                                    span 
                                        |м
                                        sup 2
                                li 12 апартаментов -  
                                    span от 
                                    b 18,8 
                                    span до 
                                    b 149,80
                                    span 
                                        |м
                                        sup 2
                                li Высота потолков - 
                                    span от 
                                    b 2,53 
                                    span до 
                                    b 4,24 
                                    span м

                .arh-slider.swiper-container
                    a(href="#").btn.arh-slider__btn Выбрать апартаменты
                    .swiper-wrapper
                        .swiper-slide(style="background-image:url(img/pl-1.jpg)")
                        .swiper-slide(style="background-image:url(img/pl-2.jpg)")
                        .swiper-slide(style="background-image:url(img/pl-1.jpg)")

                    .swiper-pagination

                    .swiper-button-next
                    .swiper-button-prev
