.mortgage
    .breadcrumbs-block
        .container
            ul.breadcrumbs
                li 
                    a(href="/") Клубный дом
                li
                    a Ипотека
    .container
        h1.mortgage__title Ипотека
        
        .mortgage__inner
            .mortgage__column
                form.mortgage-form(action="#")
                    h3.main-title Онлайн заявка
                    input(type="text" placeholder="Ваше имя").name
                    input(type="text" placeholder="Контактный телефон").phone
                    textarea(placeholder="Комментарий").message
                    button(type="submit").btn.mortgage-form__btn Отправить заявку
                    p Нажимая на кнопку я принимаю условия, даю согласие на <a href="#">обработку персональных данных</a>
                        
            .mortgage__column
                .scrollbar-slider.swiper-container
                    .swiper-wrapper.scrollbar-slider__wrapper
                        .swiper-slide.scrollbar-slider__slide
                            ul.mortgage-info
                                li
                                    .mortgage-info__item
                                        img(src="img/ab-bank-icon.png")
                                    .mortgage-info__item
                                        span Первоначальный взнос
                                        b 20%
                                    .mortgage-info__item
                                        span Срок кредита
                                        b 30 лет
                                    .mortgage-info__item
                                        span Процентная ставка
                                        b 12,5%
                                    .mortgage-info__item
                                        button(type="button").btn Онлайн заявка
                                        
                                li
                                    .mortgage-info__item
                                        img(src="img/sber-icon.png")
                                    .mortgage-info__item
                                        span Первоначальный взнос
                                        b 10%
                                    .mortgage-info__item
                                        span Срок кредита
                                        b 25 лет
                                    .mortgage-info__item
                                        span Процентная ставка
                                        b 10,5%
                                    .mortgage-info__item
                                        button(type="button").btn Онлайн заявка
                                        
                                li
                                    .mortgage-info__item
                                        img(src="img/voz-bank-icon.png")
                                    .mortgage-info__item
                                        span Первоначальный взнос
                                        b 12%
                                    .mortgage-info__item
                                        span Срок кредита
                                        b 30 лет
                                    .mortgage-info__item
                                        span Процентная ставка
                                        b 12,5%
                                    .mortgage-info__item
                                        button(type="button").btn Онлайн заявка
                                        
                                li
                                    .mortgage-info__item
                                        img(src="img/vtb-icon.png")
                                    .mortgage-info__item
                                        span Первоначальный взнос
                                        b 5%
                                    .mortgage-info__item
                                        span Срок кредита
                                        b 20 лет
                                    .mortgage-info__item
                                        span Процентная ставка
                                        b 12,5%
                                    .mortgage-info__item
                                        button(type="button").btn Онлайн заявка
                                        
                                li
                                    .mortgage-info__item
                                        img(src="img/ros-bank-icon.png")
                                    .mortgage-info__item
                                        span Первоначальный взнос
                                        b 15%
                                    .mortgage-info__item
                                        span Срок кредита
                                        b 10 лет
                                    .mortgage-info__item
                                        span Процентная ставка
                                        b 12,5%
                                    .mortgage-info__item
                                        button(type="button").btn Онлайн заявка
                
                                li
                                    .mortgage-info__item
                                        img(src="img/sber-icon.png")
                                    .mortgage-info__item
                                        span Первоначальный взнос
                                        b 10%
                                    .mortgage-info__item
                                        span Срок кредита
                                        b 25 лет
                                    .mortgage-info__item
                                        span Процентная ставка
                                        b 10,5%
                                    .mortgage-info__item
                                        button(type="button").btn Онлайн заявка
                                        
                                li
                                    .mortgage-info__item
                                        img(src="img/voz-bank-icon.png")
                                    .mortgage-info__item
                                        span Первоначальный взнос
                                        b 12%
                                    .mortgage-info__item
                                        span Срок кредита
                                        b 30 лет
                                    .mortgage-info__item
                                        span Процентная ставка
                                        b 12,5%
                                    .mortgage-info__item
                                        button(type="button").btn Онлайн заявка
                                        
                                li
                                    .mortgage-info__item
                                        img(src="img/vtb-icon.png")
                                    .mortgage-info__item
                                        span Первоначальный взнос
                                        b 5%
                                    .mortgage-info__item
                                        span Срок кредита
                                        b 20 лет
                                    .mortgage-info__item
                                        span Процентная ставка
                                        b 12,5%
                                    .mortgage-info__item
                                        button(type="button").btn Онлайн заявка
                                        
                                li
                                    .mortgage-info__item
                                        img(src="img/ros-bank-icon.png")
                                    .mortgage-info__item
                                        span Первоначальный взнос
                                        b 15%
                                    .mortgage-info__item
                                        span Срок кредита
                                        b 10 лет
                                    .mortgage-info__item
                                        span Процентная ставка
                                        b 12,5%
                                    .mortgage-info__item
                                        button(type="button").btn Онлайн заявка
                    .swiper-scrollbar
