.apartaments
	.breadcrumbs-block
		.container
			ul.breadcrumbs
				li 
					a(href="/") Клубный дом
				li
					a(href="#") Трехуровневые апартаменты
				li
					a Апартаменты № 1

	
	section.apartament__partners.partners
		.container
			h1.main-title Банки партнеры

			.partners-block.owl-carousel.owl-carousel2
					.item
						span.img-block.sberbank
							img(src="img/sber-logo.png", alt="Сбербанк" width="235" height="60")
					.item
						span.img-block.vtb
							img(src="img/vtb-logo.png", alt="ВТБ" width="108" height="60")
					.item
						span.img-block.gazprom
							img(src="img/gazprom-logo.png", alt="Газпром" width="233" height="60")
					.item
						span.img-block.dom
							img(src="img/dom-logo.png", alt="Дом РФ банк" width="141" height="60")
					.item
						span.img-block.rosbank
							img(src="img/ros-bank-logo.png", alt="Росбанк" width="84" height="60")

					.item
						span.img-block.alfa
							img(src="img/alfa-logo.png", alt="Альфабанк" width="242" height="60")
					.item
						span.img-block.sovkom
							img(src="img/sov-logo.png", alt="Совкомбанк" width="241" height="60")

	.apartaments-street
		.owl-carousel.owl-carousel3
			.item
				span.img-block
					img(src="img/sl-1.jpg" alt="Апартаменты-1" width="656" height="396")
			.item
				span.img-block
					img(src="img/sl-2.jpg" alt="Апартаменты-2" width="608" height="396")
			.item
				span.img-block
					img(src="img/sl-3.jpg" alt="Апартаменты-3" width="656" height="396")


		


