.apartaments.wow.fadeIn(data-wow-duration="1.5s" data-wow-offset="20")
    .breadcrumbs-block
        .container
            ul.breadcrumbs
                li 
                    a(href="/") Клубный дом
                li
                    a(href="#") Трехуровневые апартаменты
                li
                    a Апартаменты № 13

    .apartaments__schemes.wow.fadeIn(data-wow-duration="1.5s" data-wow-offset="20")
        .my-container
            h1.main-title Двухуровневые апартаменты №13
            .tab-slider__block
                .tab-slider__block
                    .plan-slider-wrap

                        .tab-slider__column.js-tabs
                            h2.info-about.apartaments__schemes-title Выберите уровень:

                            ul.apartaments__schemes-tabs
                                li
                                    a(href=".tab1").apartaments__schemes-tabs__btn 2
                                    div
                                        .info-about Площадь:
                                        .info-data 44,6
                                            span м
                                            sup 2
                                li
                                    a(href=".tab2").apartaments__schemes-tabs__btn.active 1
                                    div
                                        .info-about Площадь:
                                        .info-data 18,2
                                            span м
                                            sup 2
                            p.description.ap-tabs.tab1 На первом уровне площадью 36,9 м2 могут разместиться пространства для общения и приема гостей, кухня и технические помещения
                            p.description.ap-tabs.tab2 На втором уровне уровне площадью 36,9 м2 могут разместиться пространства для общения и приема гостей, кухня и технические помещения

                        .tab-slider__column
                            .ap-tabs.tab1
                                .plan-slider.swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            .plan-slider__img
                                                img(src="img/a1.png")
                                            div.compass
                                            button(aria-label="Сердце").heart
                                            button(aria-label="Распечатать" onClick="window.print()").print
                                        .swiper-slide
                                            .plan-slider__img
                                                img(src="img/a2.png")
                                            div.compass
                                            button(aria-label="Сердце").heart
                                            button(aria-label="Распечатать" onClick="window.print()").print 
                                        .swiper-slide
                                            .plan-slider__img
                                                img(src="img/a1.png")
                                            div.compass
                                            button(aria-label="Сердце").heart
                                            button(aria-label="Распечатать" onClick="window.print()").print

                                    .swiper-pagination 
                                    .swiper-button-next
                                    .swiper-button-prev
                                        
                            .ap-tabs.tab2
                                .plan-slider.swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            .plan-slider__img
                                                img(src="img/a2.png")
                                            div.compass
                                            button(aria-label="Сердце").heart
                                            button(aria-label="Распечатать" onClick="window.print()").print
                                        .swiper-slide
                                            .plan-slider__img
                                                img(src="img/a1.png")
                                            div.compass
                                            button(aria-label="Сердце").heart
                                            button(aria-label="Распечатать" onClick="window.print()").print 
                                        .swiper-slide
                                            .plan-slider__img
                                                img(src="img/a2.png")
                                            div.compass
                                            button(aria-label="Сердце").heart
                                            button(aria-label="Распечатать" onClick="window.print()").print

                                    .swiper-pagination 
                                    .swiper-button-next
                                    .swiper-button-prev

                        .tab-slider__column
                            .tab-slider__article
                                ul.tab-slider__info.tab-silder__info-right
                                    li
                                        .info-about Общая площадь:
                                        .info-data 144,50 
                                            span м
                                            sup 2
                                    li
                                        .info-about Стоимость апартаментов:
                                        .info-data 556 000 
                                            span руб.
                                    li
                                        .info-about Стоимость апартаментов:
                                        .info-data 800 028 000 
                                            span руб.

                                a(href="#").btn.tab-slider__btn.js-modal Записаться на просмотр

                            .apartament-modal
                                form
                                    h3.main-title Онлайн заявка
                                    input(type="text" placeholder="Ваше имя").name
                                    input(type="text" placeholder="Контактный телефон").phone
                                    textarea(placeholder="Комментарий").message
                                    button(type="submit").btn.tab-slider__btn.modal-submit Записаться на просмотры
                                    p Нажимая на кнопку я принимаю условия, даю согласие на <a href="#">обработку персональных данных</a>
                                    button(type="button" class="modal-close js-modal-close") Закрыть


    section.apartament__partners.partners.wow.fadeIn(data-wow-duration="1.5s" data-wow-offset="20")
        .container
            h2.main-title Банки партнеры

            .partners-block.owl-carousel.owl-carousel2
                .item
                    span.img-block.sberbank
                        img(src="img/sber-logo.png", alt="Сбербанк")
                .item
                    span.img-block.vtb
                        img(src="img/vtb-logo.png", alt="ВТБ")
                .item
                    span.img-block.gazprom
                        img(src="img/gazprom-logo.png", alt="Газпром")
                .item
                    span.img-block.dom
                        img(src="img/dom-logo.png", alt="Дом РФ банк")
                .item
                    span.img-block.rosbank
                        img(src="img/ros-bank-logo.png", alt="Росбанк")

                .item
                    span.img-block.alfa
                        img(src="img/alfa-logo.png", alt="Альфабанк")
                .item
                    span.img-block.sovkom
                        img(src="img/sov-logo.png", alt="Совкомбанк")

    .apartaments-street.wow.fadeIn(data-wow-duration="1.5s" data-wow-offset="20")
        .owl-carousel.owl-carousel3
            .item
                span.img-block
                    img(src="img/sl-1.jpg" alt="Апартаменты-1" width="656" height="396")

            .item
                span.img-block
                    img(src="img/sl-2.jpg" alt="Апартаменты-2" width="608" height="396")
            .item
                span.img-block
                    img(src="img/sl-3.jpg" alt="Апартаменты-3" width="656" height="396")


    section.layered.wow.fadeIn(data-wow-duration="1.5s" data-wow-offset="20")
        .container
            h2.main-title.layered__title Многоуровневые апартаменты
            p.layered__description Клубный дом на Покровке – это уникальный исторический особняк второй середины XXI века, состоящий из нескольких разноуровневых городских апартаментов. Клубный дом на Покровке расположен в тихом московском дворе между улицами Покровка и Машкова, в 250 м. от Садового кольца и 440 м. от Чистопрудного бульвараВ пешей доступности находятся несколько городских парков, достопримечательностей и общественных пространств, а также множество объектов инфраструктуры
        .plan-tabs__inner
            .plan-tabs__links.container
                a(href="#").plan-tabs__btn Одноуровневые апартаменты
                    .plan-tabs__count 8
                a(href="#").plan-tabs__btn Двухуровневые апартаменты
                    .plan-tabs__count 2
                a(href="#").plan-tabs__btn Трехуровневые апартаменты
                    .plan-tabs__count 2
