.main-slider.swiper-container
    a(href="#").link-border Спецпредложения
    .main-slider__cont

        .main-slider__column
            ul.main-slider__article
                li 
                    .main-slider__text Клубный дом на Покровке <br>
                        span в самом сердце столицы
                li Разноуровневые апартаменты от 19 м2 до 149 м2

        .main-slider__column
            button.btn(type="button") Выбрать апартаменты

    .swiper-wrapper
        .swiper-slide(style="background-image:url(../img/hotel.jpg)")
        .swiper-slide(style="background-image:url(../img/plan-back.jpg)")
        .swiper-slide(style="background-image:url(../img/plan-front.jpg)")

    .swiper-pagination

    .swiper-button-next 
    .swiper-button-prev

.about-apartament.container
    h1.main-title Многоуровневые апартаменты в клубном доме на Покровке
    .main-text
        p Клубный дом на Покровке – это уникальный исторический особняк второй середины XXI века, состоящий из нескольких разноуровневых городских апартаментов. Клубный дом на Покровке расположен в тихом московском дворе между улицами Покровка и Машкова, в 250 м. от Садового кольца и 440 м. от Чистопрудного бульвара в пешей доступности находятся несколько городских парков, достопримечательностей и общественных пространств, а также множество объектов инфраструктуры

.pick-plan
    h2.main-title Выберите апартаменты:

    .plan-tabs
        .plan-tabs__inner
            .container.plan-tabs__links#tabsLink
                a(href="#tab1").plan-tabs__btn Одноуровневые апартаменты
                    .plan-tabs__count 8

                a(href="#tab2").plan-tabs__btn Двухуровневые апартаменты 
                    .plan-tabs__count 2

                a(href="#tab3").plan-tabs__btn Трехуровневые апартаменты 
                    .plan-tabs__count 2

        .tab-cont.tab-cont_first#tab1
            .tab-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .tab-slider__quote
                            p Небольшие пространства станут идеальной средой обитания для активных горожан, проводящих большую часть времени в исторической части города 
                        .tab-slider__block
                            .plan-slider-wrap
                                .tab-slider__column
                                    .plan-slider.swiper-container
                                        .swiper-wrapper
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-1.png")
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-1.png")   
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-1.png")

                                        .swiper-pagination 
                                        .swiper-button-next
                                        .swiper-button-prev

                                .tab-slider__column
                                    .tab-slider__article
                                        p.tab-slider__title Апартаменты №5
                                        ul.tab-slider__info
                                            li
                                                .info-about Общая площадь:
                                                .info-data 25,60 
                                                    span м
                                                    sup 2
                                            li
                                                .info-about Стоимость апартаментов:
                                                .info-data 14 592 000 
                                                    span руб.

                                        a(href="#").btn.tab-slider__btn Подробнее
                            .plan-slider-wrap
                                .tab-slider__column
                                    .plan-slider.swiper-container
                                        .swiper-wrapper
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-2.png")
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-2.png")   
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-2.png")

                                        .swiper-pagination 
                                        .swiper-button-next
                                        .swiper-button-prev

                                .tab-slider__column
                                    .tab-slider__article
                                        p.tab-slider__title Апартаменты №5
                                        ul.tab-slider__info
                                            li
                                                .info-about Общая площадь:
                                                .info-data 25,60 
                                                    span м
                                                    sup 2
                                            li
                                                .info-about Стоимость апартаментов:
                                                .info-data 14 592 000 
                                                    span руб.

                                        a(href="#").btn.tab-slider__btn Подробнее    
                    .swiper-slide
                        .tab-slider__quote
                            p Небольшие пространства станут идеальной средой обитания для активных горожан, проводящих большую часть времени в исторической части города 
                        .tab-slider__block
                            .plan-slider-wrap
                                .tab-slider__column
                                    .plan-slider.swiper-container
                                        .swiper-wrapper
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-1.png")
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-1.png")   
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-1.png")

                                        .swiper-pagination 
                                        .swiper-button-next
                                        .swiper-button-prev

                                .tab-slider__column
                                    .tab-slider__article
                                        p.tab-slider__title Апартаменты №5
                                        ul.tab-slider__info
                                            li
                                                .info-about Общая площадь:
                                                .info-data 25,60 
                                                    span м
                                                    sup 2
                                            li
                                                .info-about Стоимость апартаментов:
                                                .info-data 14 592 000 
                                                    span руб.

                                        a(href="#").btn.tab-slider__btn Подробнее
                            .plan-slider-wrap
                                .tab-slider__column
                                    .plan-slider.swiper-container
                                        .swiper-wrapper
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-2.png")
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-2.png")   
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-2.png")

                                        .swiper-pagination 
                                        .swiper-button-next
                                        .swiper-button-prev

                                .tab-slider__column
                                    .tab-slider__article
                                        p.tab-slider__title Апартаменты №5
                                        ul.tab-slider__info
                                            li
                                                .info-about Общая площадь:
                                                .info-data 25,60 
                                                    span м
                                                    sup 2
                                            li
                                                .info-about Стоимость апартаментов:
                                                .info-data 14 592 000 
                                                    span руб.

                                        a(href="#").btn.tab-slider__btn Подробнее          
                    .swiper-slide
                        .tab-slider__quote
                            p Небольшие пространства станут идеальной средой обитания для активных горожан, проводящих большую часть времени в исторической части города 
                        .tab-slider__block
                            .plan-slider-wrap
                                .tab-slider__column
                                    .plan-slider.swiper-container
                                        .swiper-wrapper
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-1.png")
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-1.png")   
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-1.png")

                                        .swiper-pagination 
                                        .swiper-button-next
                                        .swiper-button-prev

                                .tab-slider__column
                                    .tab-slider__article
                                        p.tab-slider__title Апартаменты №5
                                        ul.tab-slider__info
                                            li
                                                .info-about Общая площадь:
                                                .info-data 25,60 
                                                    span м
                                                    sup 2
                                            li
                                                .info-about Стоимость апартаментов:
                                                .info-data 14 592 000 
                                                    span руб.

                                        a(href="#").btn.tab-slider__btn Подробнее
                            .plan-slider-wrap
                                .tab-slider__column
                                    .plan-slider.swiper-container
                                        .swiper-wrapper
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-2.png")
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-2.png")   
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-2.png")

                                        .swiper-pagination 
                                        .swiper-button-next
                                        .swiper-button-prev

                                .tab-slider__column
                                    .tab-slider__article
                                        p.tab-slider__title Апартаменты №5
                                        ul.tab-slider__info
                                            li
                                                .info-about Общая площадь:
                                                .info-data 25,60 
                                                    span м
                                                    sup 2
                                            li
                                                .info-about Стоимость апартаментов:
                                                .info-data 14 592 000 
                                                    span руб.

                                        a(href="#").btn.tab-slider__btn Подробнее  
                .swiper-pagination.swiper-pagination_main

                .swiper-button-next.swiper-button-next_main
                .swiper-button-prev.swiper-button-prev_main   
        .tab-cont.tab-cont_second#tab2
            .tab-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .tab-slider__quote
                            p Небольшие пространства станут идеальной средой обитания для активных горожан, проводящих большую часть времени в исторической части города 
                        .tab-slider__block
                            .plan-slider-wrap
                                .tab-slider__column
                                    .plan-slider.swiper-container
                                        .swiper-wrapper
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-3.png")
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-3.png")   
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-3.png")

                                        .swiper-pagination 
                                        .swiper-button-next
                                        .swiper-button-prev

                                .tab-slider__column
                                    .tab-slider__article
                                        p.tab-slider__title Апартаменты №5
                                        ul.tab-slider__info
                                            li
                                                .info-about Общая площадь:
                                                .info-data 25,60 
                                                    span м
                                                    sup 2
                                            li
                                                .info-about Стоимость апартаментов:
                                                .info-data 14 592 000 
                                                    span руб.

                                        a(href="#").btn.tab-slider__btn Подробнее
                            .plan-slider-wrap
                                .tab-slider__column
                                    .plan-slider.swiper-container
                                        .swiper-wrapper
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-4.png")
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-4.png")   
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-4.png")

                                        .swiper-pagination 
                                        .swiper-button-next
                                        .swiper-button-prev

                                .tab-slider__column
                                    .tab-slider__article
                                        p.tab-slider__title Апартаменты №5
                                        ul.tab-slider__info
                                            li
                                                .info-about Общая площадь:
                                                .info-data 25,60 
                                                    span м
                                                    sup 2
                                            li
                                                .info-about Стоимость апартаментов:
                                                .info-data 14 592 000 
                                                    span руб.

                                        a(href="#").btn.tab-slider__btn Подробнее    
                    .swiper-slide
                        .tab-slider__quote
                            p Небольшие пространства станут идеальной средой обитания для активных горожан, проводящих большую часть времени в исторической части города 
                        .tab-slider__block
                            .plan-slider-wrap
                                .tab-slider__column
                                    .plan-slider.swiper-container
                                        .swiper-wrapper
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-3.png")
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-3.png")   
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-3.png")

                                        .swiper-pagination 
                                        .swiper-button-next
                                        .swiper-button-prev

                                .tab-slider__column
                                    .tab-slider__article
                                        p.tab-slider__title Апартаменты №5
                                        ul.tab-slider__info
                                            li
                                                .info-about Общая площадь:
                                                .info-data 25,60 
                                                    span м
                                                    sup 2
                                            li
                                                .info-about Стоимость апартаментов:
                                                .info-data 14 592 000 
                                                    span руб.

                                        a(href="#").btn.tab-slider__btn Подробнее
                            .plan-slider-wrap
                                .tab-slider__column
                                    .plan-slider.swiper-container
                                        .swiper-wrapper
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-4.png")
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-4.png")   
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-4.png")

                                        .swiper-pagination 
                                        .swiper-button-next
                                        .swiper-button-prev

                                .tab-slider__column
                                    .tab-slider__article
                                        p.tab-slider__title Апартаменты №5
                                        ul.tab-slider__info
                                            li
                                                .info-about Общая площадь:
                                                .info-data 25,60 
                                                    span м
                                                    sup 2
                                            li
                                                .info-about Стоимость апартаментов:
                                                .info-data 14 592 000 
                                                    span руб.

                                        a(href="#").btn.tab-slider__btn Подробнее          
                    .swiper-slide
                        .tab-slider__quote
                            p Небольшие пространства станут идеальной средой обитания для активных горожан, проводящих большую часть времени в исторической части города 
                        .tab-slider__block
                            .plan-slider-wrap
                                .tab-slider__column
                                    .plan-slider.swiper-container
                                        .swiper-wrapper
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-3.png")
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-3.png")   
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-3.png")

                                        .swiper-pagination 
                                        .swiper-button-next
                                        .swiper-button-prev

                                .tab-slider__column
                                    .tab-slider__article
                                        p.tab-slider__title Апартаменты №5
                                        ul.tab-slider__info
                                            li
                                                .info-about Общая площадь:
                                                .info-data 25,60 
                                                    span м
                                                    sup 2
                                            li
                                                .info-about Стоимость апартаментов:
                                                .info-data 14 592 000 
                                                    span руб.

                                        a(href="#").btn.tab-slider__btn Подробнее
                            .plan-slider-wrap
                                .tab-slider__column
                                    .plan-slider.swiper-container
                                        .swiper-wrapper
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-4.png")
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-4.png")   
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-4.png")

                                        .swiper-pagination 
                                        .swiper-button-next
                                        .swiper-button-prev

                                .tab-slider__column
                                    .tab-slider__article
                                        p.tab-slider__title Апартаменты №5
                                        ul.tab-slider__info
                                            li
                                                .info-about Общая площадь:
                                                .info-data 25,60 
                                                    span м
                                                    sup 2
                                            li
                                                .info-about Стоимость апартаментов:
                                                .info-data 14 592 000 
                                                    span руб.

                                        a(href="#").btn.tab-slider__btn Подробнее  
                .swiper-pagination.swiper-pagination_main

                .swiper-button-next.swiper-button-next_main
                .swiper-button-prev.swiper-button-prev_main                       
        .tab-cont.tab-cont_third#tab3
            .tab-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .tab-slider__quote
                            p Небольшие пространства станут идеальной средой обитания для активных горожан, проводящих большую часть времени в исторической части города 
                        .tab-slider__block
                            .plan-slider-wrap
                                .tab-slider__column
                                    .plan-slider.swiper-container
                                        .swiper-wrapper
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-5.png")
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-5.png")   
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-5.png")

                                        .swiper-pagination 
                                        .swiper-button-next
                                        .swiper-button-prev

                                .tab-slider__column
                                    .tab-slider__article
                                        p.tab-slider__title Апартаменты №5
                                        ul.tab-slider__info
                                            li
                                                .info-about Общая площадь:
                                                .info-data 25,60 
                                                    span м
                                                    sup 2
                                            li
                                                .info-about Стоимость апартаментов:
                                                .info-data 14 592 000 
                                                    span руб.

                                        a(href="#").btn.tab-slider__btn Подробнее
                            .plan-slider-wrap
                                .tab-slider__column
                                    .plan-slider.swiper-container
                                        .swiper-wrapper
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-6.png")
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-6.png")   
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-6.png")

                                        .swiper-pagination 
                                        .swiper-button-next
                                        .swiper-button-prev

                                .tab-slider__column
                                    .tab-slider__article
                                        p.tab-slider__title Апартаменты №5
                                        ul.tab-slider__info
                                            li
                                                .info-about Общая площадь:
                                                .info-data 25,60 
                                                    span м
                                                    sup 2
                                            li
                                                .info-about Стоимость апартаментов:
                                                .info-data 14 592 000 
                                                    span руб.

                                        a(href="#").btn.tab-slider__btn Подробнее    
                    .swiper-slide
                        .tab-slider__quote
                            p Небольшие пространства станут идеальной средой обитания для активных горожан, проводящих большую часть времени в исторической части города 
                        .tab-slider__block
                            .plan-slider-wrap
                                .tab-slider__column
                                    .plan-slider.swiper-container
                                        .swiper-wrapper
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-5.png")
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-5.png")   
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-5.png")

                                        .swiper-pagination 
                                        .swiper-button-next
                                        .swiper-button-prev

                                .tab-slider__column
                                    .tab-slider__article
                                        p.tab-slider__title Апартаменты №5
                                        ul.tab-slider__info
                                            li
                                                .info-about Общая площадь:
                                                .info-data 25,60 
                                                    span м
                                                    sup 2
                                            li
                                                .info-about Стоимость апартаментов:
                                                .info-data 14 592 000 
                                                    span руб.

                                        a(href="#").btn.tab-slider__btn Подробнее
                            .plan-slider-wrap
                                .tab-slider__column
                                    .plan-slider.swiper-container
                                        .swiper-wrapper
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-6.png")
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-6.png")   
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-6.png")

                                        .swiper-pagination 
                                        .swiper-button-next
                                        .swiper-button-prev

                                .tab-slider__column
                                    .tab-slider__article
                                        p.tab-slider__title Апартаменты №5
                                        ul.tab-slider__info
                                            li
                                                .info-about Общая площадь:
                                                .info-data 25,60 
                                                    span м
                                                    sup 2
                                            li
                                                .info-about Стоимость апартаментов:
                                                .info-data 14 592 000 
                                                    span руб.

                                        a(href="#").btn.tab-slider__btn Подробнее          
                    .swiper-slide
                        .tab-slider__quote
                            p Небольшие пространства станут идеальной средой обитания для активных горожан, проводящих большую часть времени в исторической части города 
                        .tab-slider__block
                            .plan-slider-wrap
                                .tab-slider__column
                                    .plan-slider.swiper-container
                                        .swiper-wrapper
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-5.png")
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-5.png")   
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-5.png")

                                        .swiper-pagination 
                                        .swiper-button-next
                                        .swiper-button-prev

                                .tab-slider__column
                                    .tab-slider__article
                                        p.tab-slider__title Апартаменты №5
                                        ul.tab-slider__info
                                            li
                                                .info-about Общая площадь:
                                                .info-data 25,60 
                                                    span м
                                                    sup 2
                                            li
                                                .info-about Стоимость апартаментов:
                                                .info-data 14 592 000 
                                                    span руб.

                                        a(href="#").btn.tab-slider__btn Подробнее
                            .plan-slider-wrap
                                .tab-slider__column
                                    .plan-slider.swiper-container
                                        .swiper-wrapper
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-6.png")
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-6.png")   
                                            .swiper-slide
                                                .plan-slider__img
                                                    img(src="img/ap-plan-6.png")

                                        .swiper-pagination 
                                        .swiper-button-next
                                        .swiper-button-prev

                                .tab-slider__column
                                    .tab-slider__article
                                        p.tab-slider__title Апартаменты №5
                                        ul.tab-slider__info
                                            li
                                                .info-about Общая площадь:
                                                .info-data 25,60 
                                                    span м
                                                    sup 2
                                            li
                                                .info-about Стоимость апартаментов:
                                                .info-data 14 592 000 
                                                    span руб.

                                        a(href="#").btn.tab-slider__btn Подробнее  
                .swiper-pagination.swiper-pagination_main

                .swiper-button-next.swiper-button-next_main
                .swiper-button-prev.swiper-button-prev_main       

.plan-mob
    .plan-mob__column
        button(type="button").btn.plan-btn.plan-btn_first
            span Одноуровневые
            .plan-btn__count 8

        .plan-mob__item
            .tab-slider__title Апартаменты №5

            ul.plan-mob__list.plan-mob__list_top
                li
                    .info-about Общая площадь:
                li
                    .info-data 25,60 
                        span м
                        sup 2

            .plan-slider.plan-slider_mob.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .plan-slider__img
                            img(src="img/ap-plan-3d.png")
                    .swiper-slide
                        .plan-slider__img
                            img(src="img/ap-plan-1.png")   
                    .swiper-slide
                        .plan-slider__img
                            img(src="img/ap-plan-1.png")

                .swiper-pagination 
                .swiper-button-next
                .swiper-button-prev

            ul.plan-mob__list
                li
                    .info-about Стоимость апартаментов:
                li
                    .info-data 14 592 000 
                        span руб.

            a(href="#").btn.tab-slider__btn Подробнее 
    .plan-mob__column
        button(type="button").btn.plan-btn.plan-btn_second
            span Двухуровневые
            .plan-btn__count 2

        .plan-mob__item
            .tab-slider__title Апартаменты №5

            ul.plan-mob__list.plan-mob__list_top
                li
                    .info-about Общая площадь:
                li
                    .info-data 25,60 
                        span м
                        sup 2

            .plan-slider.plan-slider_mob.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .plan-slider__img
                            img(src="img/ap-plan-2.png")
                    .swiper-slide
                        .plan-slider__img
                            img(src="img/ap-plan-2.png")   
                    .swiper-slide
                        .plan-slider__img
                            img(src="img/ap-plan-2.png")

                .swiper-pagination 
                .swiper-button-next
                .swiper-button-prev

            ul.plan-mob__list
                li
                    .info-about Стоимость апартаментов:
                li
                    .info-data 14 592 000 
                        span руб.

            a(href="#").btn.tab-slider__btn Подробнее 
    .plan-mob__column
        button(type="button").btn.plan-btn.plan-btn_third
            span Трехуровневые
            .plan-btn__count 2

        .plan-mob__item
            .tab-slider__title Апартаменты №5

            ul.plan-mob__list.plan-mob__list_top
                li
                    .info-about Общая площадь:
                li
                    .info-data 25,60 
                        span м
                        sup 2

            .plan-slider.plan-slider_mob.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .plan-slider__img
                            img(src="img/ap-plan-3.png")
                    .swiper-slide
                        .plan-slider__img
                            img(src="img/ap-plan-3.png")   
                    .swiper-slide
                        .plan-slider__img
                            img(src="img/ap-plan-3.png")

                .swiper-pagination 
                .swiper-button-next
                .swiper-button-prev

            ul.plan-mob__list
                li
                    .info-about Стоимость апартаментов:
                li
                    .info-data 14 592 000 
                        span руб.

            a(href="#").btn.tab-slider__btn Подробнее 

.flat-info
    button.flat-info__btn.btn.active(type="button") Повернуть здание
    .flat-info__front.flat-info__item
        img(src="img/plan-front.jpg")
        .flat-info__layer.layer-8
            img(src="img/layer-8.svg")
            ul.flat-about.flat-about_8
                li
                    .flat-about__title Апартаменты:
                    span №6
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 22,8
                        b м
                            sup 2
        .flat-info__layer.layer-16
            img(src="img/layer-16.png")
            ul.flat-about.flat-about_16
                li
                    .flat-about__title Апартаменты:
                    span №16
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 35,8
                        b м
                            sup 2

        .flat-info__layer.layer-15
            img(src="img/layer-15.png")
            ul.flat-about.flat-about_15
                li
                    .flat-about__title Апартаменты:
                    span №15
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 55,8
                        b м
                            sup 2

        .flat-info__layer.layer-14
            img(src="img/layer-14.png")
            ul.flat-about.flat-about_14
                li
                    .flat-about__title Апартаменты:
                    span №14
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 55,8
                        b м
                            sup 2

        .flat-info__layer.layer-13
            img(src="img/layer-13.png")
            ul.flat-about.flat-about_13
                li
                    .flat-about__title Апартаменты:
                    span №13
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 55,8
                        b м
                            sup 2

        .flat-info__layer.layer-7
            img(src="img/layer-7.png")
            ul.flat-about.flat-about_7
                li
                    .flat-about__title Апартаменты:
                    span №8
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 55,8
                        b м
                            sup 2

        .flat-info__layer.layer-6
            img(src="img/layer-6.png")
            ul.flat-about.flat-about_6
                li
                    .flat-about__title Апартаменты:
                    span №6
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 55,8
                        b м
                            sup 2

        .flat-info__layer.layer-5
            img(src="img/layer-5.png")
            ul.flat-about.flat-about_5
                li
                    .flat-about__title Апартаменты:
                    span №5
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 55,8
                        b м
                            sup 2
    .flat-info__back.flat-info__item
        img(src="img/plan-back.jpg")    
        .flat-info__layer.layer-1
            img(src="img/layer-1.png")
            ul.flat-about.flat-about_1
                li
                    .flat-about__title Апартаменты:
                    span №1
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 22,8
                        b м
                            sup 2

        .flat-info__layer.layer-2
            img(src="img/layer-2.png")
            ul.flat-about.flat-about_2
                li
                    .flat-about__title Апартаменты:
                    span №2
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 22,8
                        b м
                            sup 2

        .flat-info__layer.layer-3
            img(src="img/layer-3.png")
            ul.flat-about.flat-about_3
                li
                    .flat-about__title Апартаменты:
                    span №3
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 22,8
                        b м
                            sup 2

        .flat-info__layer.layer-4
            img(src="img/layer-4.png")
            ul.flat-about.flat-about_4
                li
                    .flat-about__title Апартаменты:
                    span №4
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 22,8
                        b м
                            sup 2
                            
        .flat-info__layer.layer-9
            img(src="img/layer-9.png")
            ul.flat-about.flat-about_9
                li
                    .flat-about__title Апартаменты:
                    span №4
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 22,8
                        b м
                            sup 2
                            
        .flat-info__layer.layer-10
            img(src="img/layer-10.png")
            ul.flat-about.flat-about_10
                li
                    .flat-about__title Апартаменты:
                    span №10
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 22,8
                        b м
                            sup 2
                            
        .flat-info__layer.layer-11
            img(src="img/layer-11.png")
            ul.flat-about.flat-about_11
                li
                    .flat-about__title Апартаменты:
                    span №11
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 22,8
                        b м
                            sup 2
                            
        .flat-info__layer.layer-12
            img(src="img/layer-12.png")
            ul.flat-about.flat-about_12
                li
                    .flat-about__title Апартаменты:
                    span №12
                li
                    .flat-about__title Уровни:
                    span 1
                li
                    .flat-about__title Площадь:
                    span 22,8
                        b м
                            sup 2
.table-block.container
    h2.main-title Апартаменты в продаже
    .table-block__title Одноуровневые апартаменты
    
    table.table-info.one-level
        thead
            tr
                td Апартаменты
                td Кол-во уровней
                td Площадь, м
                    sup 2
                td Стоимость за м
                    sup 2
                td Стоимость апартаментов
        tbody
            tr
                td Апартаменты №3
                td 1
                td 18,80
                td 550 000 руб.
                td 10 716 000 руб. 
                
            tr
                td Апартаменты №4
                td 1
                td 21,20
                td 550 000 руб.
                td 12 084 000 руб.
                
            tr
                td Апартаменты №3
                td 1
                td 18,80
                td 550 000 руб.
                td 10 716 000 руб.
    
    .table-block__title Двухуровневые апартаменты          
    table.table-info.two-level
        thead
            tr
                td Апартаменты
                td Кол-во уровней
                td Площадь, м
                    sup 2
                td Стоимость за м
                    sup 2
                td Стоимость апартаментов
        tbody
            tr
                td Апартаменты №3
                td 1
                td 18,80
                td 550 000 руб.
                td 10 716 000 руб. 
                
            tr
                td Апартаменты №4
                td 1
                td 21,20
                td 550 000 руб.
                td 12 084 000 руб.
                
    .table-block__title Трехуровневые апартаменты          
    table.table-info.three-level
        thead
            tr
                td Апартаменты
                td Кол-во уровней
                td Площадь, м
                    sup 2
                td Стоимость за м
                    sup 2
                td Стоимость апартаментов
        tbody
            tr
                td Апартаменты №3
                td 1
                td 18,80
                td 550 000 руб.
                td 10 716 000 руб. 
                
            tr
                td Апартаменты №4
                td 1
                td 21,20
                td 550 000 руб.
                td 12 084 000 руб.

.location-info
    h2.main-title Клубный дом расположен между улицами Покровка и Машкова
    
    .location-info__inner
        .line-block
            .line-block__inner
                .line-block__item
                .line-block__ellipse
                .line-block__item
            
        .location-info__item.location-info__item_left
            img(src="img/sl-1.jpg")
            .location-overlay
                .location-overlay__item от Садового кольца
                .location-overlay__item 250
                    span м.
                
                
        .location-info__item.location-info__item_center
            img(src="img/sl-2.jpg")
            .location-overlay
                .location-info__logo
                    img(src="img/logo.png" width="94" height="124")
                .marker
                    img(src="img/place.png" width="55" height="55")

                
                
        .location-info__item.location-info__item_right
            img(src="img/sl-3.jpg")
            .location-overlay
                .location-overlay__item от Чистопрудного бульвара
                .location-overlay__item 440
                    span м.
                
                
        
        
        
             
