.main-slider.swiper-container
    a(href="#").link-border Спецпредложения
    .main-slider__cont
        
        .main-slider__column
            ul.main-slider__article
                li 
                    .main-slider__text Клубный дом на Покровке <br>
                        span в самом сердце столицы
                li Разноуровневые апартаменты от 19 м2 до 149 м2
                
        .main-slider__column
            button.btn(type="button") Выбрать апартаменты
            
    .swiper-wrapper
        .swiper-slide(style="background-image:url(../img/hotel.jpg)")
        .swiper-slide(style="background-image:url(../img/plan-back.jpg)")
        .swiper-slide(style="background-image:url(../img/plan-front.jpg)")

    .swiper-pagination

    .swiper-button-next 
    .swiper-button-prev
            
