header.header.wow.fadeIn(data-wow-duration="1.5s" data-wow-offset="20")
    .header__top
        .logo.header__logo
            .logo__img.logo__img_header      
                img(src="img/logo.png" alt="Клубный дом на покровке" width="60" height="71")
            ul.logo__article
                li Клубный дом на
                li Покровке 
                
        nav.main-nav
            ul
                li
                    a(href="#") О проекте
                li
                    a(href="#").main-nav__border Выбрать апартаменты
                li
                    a(href="#").main-nav__border Спецпредложения
                li
                    a(href="#") Варианты покупки
                li         
                    a(href="#") Контакты
        
        a(href="tel:74950233880").phone-header +7 (495) 023-38-80            
                    
    
    .header__bottom
        .burger
        ul.type-list
            li
                a(href="#").type-list__first Одноуровневые апартаменты
            li
                a(href="#").type-list__second Двухуровневые апартаменты
            li
                a(href="#").type-list__third Трехуровневые апартаменты
                
        a(href="tel:74950233880").phone-header.phone-header_mob +7 (495) 023-38-80
        
        a(href="#").favor
            .favor__count 3
        
        .adress Москва, ЦАО, Покровка, 48
    
.logo-mobile
    .logo
        .logo__img.logo__img_header      
            img(src="img/logo.png" alt="Клубный дом на покровке" width="60" height="71")
        ul.logo__article
            li Клубный дом на
            li Покровке 

.dropdown-menu
    ul.dropdown-menu_top-list
        li
            a(href="#") О проекте
        li
            a(href="#") Контакты
        li
            a(href="#") Варианты покупки
            
    ul.dropdown-menu_bottom-list
        li
            a(href="#").type-first Одноуровневые апартаменты
        li
            a(href="#").type-second Двухуровневые апартаменты
        li
            a(href="#").type-third Трехуровневые апартаменты
    
    ul.dropdown-menu_big-links
        li
            a(href="#").main-nav__border Выбрать апартаменты
        li
            a(href="#").main-nav__border Спецпредложения
        li
            .adress.adress_mob Москва, Покровка, 48
            
    ul.dropdown-menu_bottom-list
        li
            a(href="#").type-first Одноуровневые апартаменты
        li
            a(href="#").type-second Двухуровневые апартаменты
        li
            a(href="#").type-third Трехуровневые апартаменты
            
    ul.dropdown-menu_bottom-list
        li
            a(href="#").type-first Одноуровневые апартаменты
        li
            a(href="#").type-second Двухуровневые апартаменты
        li
            a(href="#").type-third Трехуровневые апартаменты
            
            
