extends ../layout/layout.pug
block vars
	- var title = 'Апартаменты №1'	
block header
	include ../includes/header.pug
block content
	include ../includes/content-apartaments.pug
block footer
	include ../includes/footer.pug