extends ../layout/layout.pug
block vars
	- var title = 'Ипотека'	
block header
	include ../includes/header.pug
block content
	include ../includes/content-ipoteca.pug
block footer
	include ../includes/footer.pug
