.header {
    @media(max-width: 1279px) {
        height: 61px;
    }
}

.header_main {
    @media(min-width: 1280px) {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 100;
    }
}

.header__top {
    background: url("../img/header.png") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 24px;
    @media(max-width: 1279px) {
        display: none;
    }
}

.container {
    max-width: 1630px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.main-title {
    text-align: center;
    color: #B48542;
    font-weight: 500;
    font-size: 38px;
    margin-bottom: 15px;
    @media(max-width: 992px) {
        font-size: 24px;
    }
}

.logo {
    display: flex;
    align-items: center;

    &__img {
        margin-right: 15px;
    }
}

.btn {
    display: inline-block;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
    background: #C4994C;
    border-radius: 4px;
}

.main-text {
    p {
        font-family: "SFProDisplay";
        font-size: 20px;
        color: #999999;
        @media(max-width: 991px) {
            font-size: 16px;
        }
    }
}

.logo__article {
    font-family: "GoudyTrajan-Bold";
    color: #FFDAA2;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;

    li {
        line-height: 24px;

        &:first-child {
            font-size: 16px;
            @media(max-width: 1599px) {
                font-size: 12px;
            }
        }

        &:last-child {
            font-size: 27px;
            @media(max-width: 1599px) {
                font-size: 20px;
            }
        }
    }
}

.main-nav {
    ul {
        display: flex;
        align-items: center;

        li {
            &:not(:last-child) {
                margin-right: 25px;
            }
        }
    }

    a {
        color: #FFDAA2;
        font-size: 22px;
        display: inline-block;
        padding: 11px 20px;
        @media(max-width: 1599px) {
            font-size: 14px;
        }
        @media(min-width: 1600px) and (max-width: 1799px) {
            font-size: 18px;
        }
    }
}

.logo__img_header {
    width: 60px;
}

.main-nav__border {
    border: 1px solid rgba(255, 218, 161, 0.43);
    border-radius: 4px;
}

.phone-header {
    color: white;
    font-size: 29px;
    font-weight: 500;
    display: inline-block;
    position: relative;
    padding-left: 36px;
    background: url("../img/call-icon.png") no-repeat left center;
    background-size: 28px 28px;
    @media(max-width: 1599px) {
        font-size: 16px;
    }
}

.header__bottom {
    background: rgba(67, 39, 2, 0.78);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    color: #FFDAA2;
    padding: 17px 10px;
    display: flex;
    align-items: center;
    position: relative;
    @media(max-width: 1279px) {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 200;
    }
    @media(min-width: 1280px) {
        padding: 17px 20px;
    }
    @media(min-width: 1800px) {
        padding: 17px 152px;
    }
}

.type-list {
    display: flex;
    @media(max-width: 991px) {
        display: none;
    }

    li {
        &:not(:last-child) {
            margin-right: 80px;
            @media(max-width: 1279px) {
                margin-right: 20px;
            }
        }
    }

    a {
        display: inline-block;
        font-size: 22px;
        @media(min-width: 1280px) {
            padding-left: 35px;
        }
        @media(max-width: 1599px) {
            font-size: 14px;
        }
    }
}
@media(min-width: 1600px) {
    .type-list__first {
        background: url("../img/level-icon-1.png") no-repeat left center;
    }

    .type-list__second {
        background: url("../img/level-icon-2.png") no-repeat left center;
    }

    .type-list__third {
        background: url("../img/level-icon-3.png") no-repeat left center;
    }
}

.dropdown-menu_bottom-list {
    li {
        margin-bottom: 28px;
    }

    a {
        display: inline-block;
        padding-left: 25px;
        position: relative;
        font-size: 18px;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
        }
    }

    .type-first:after {
        background: url("../img/level-icon-1.png") no-repeat center;
        height: 1px;
        background-size: contain;
    }

    .type-second:after {
        background: url("../img/level-icon-2.png") no-repeat center;
        background-size: contain;
    }

    .type-third:after {
        background: url("../img/level-icon-3.png") no-repeat center;
        background-size: contain;
    }
}

.favor {
    margin-left: auto;
    margin-right: 48px;
    width: 27px;
    height: 27px;
    background: url("../img/heart.png") no-repeat center;
    background-size: contain;
    position: relative;
    @media(max-width: 991px) {
        margin-right: 20px;
    }
}

.favor__count {
    position: absolute;
    top: -5px;
    right: -18px;
    width: 24px;
    height: 24px;
    background: #FFDAA2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #432702;
    font-size: 14px;
    border-radius: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adress {
    font-size: 18px;
    padding-left: 34px;
    background: url("../img/near-me.png") no-repeat left center;
    background-size: 24px 24px;
    @media(max-width: 991px) {
        display: none;
    }
    @media(max-width: 1599px) {
        font-size: 15px;
    }
}

.footer__adress {
    display: inline-block;
}

.adress_mob {
    display: inline-block;
    margin-top: 15px;
}

.phone-header_mob {
    font-size: 18px;
    background-size: 18px 18px;
    padding-left: 25px;
    margin-left: auto;
    @media(min-width: 992px) {
        display: none;
    }
}

.burger {
    width: 28px;
    height: 22px;
    background: url("../img/burger.png") no-repeat center;
    background-size: contain;
    cursor: pointer;
    @media(min-width: 992px) {
        display: none;
    }
}

.burger.is-active {
    background: url("../img/close.png") no-repeat center;
}

.logo-mobile {
    padding: 2px 5px 7px;
    background: url("../img/header.png") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    @media(min-width: 1280px) {
        display: none;
    }

    .logo__img {
        position: relative;
        top: 4px;
    }

    .logo__article {
        li {
            &:first-child {
                font-size: 15px;
            }

            &:last-child {
                font-size: 27px;
            }
        }
    }
}

.overflow-hidden {
    overflow-y: hidden;
}

.stickytop {
    @media(min-width: 1280px) {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
}

.header-height-fixed {
    @media(min-width: 1280px) {
        height: 156px;
    }
}

.dropdown-menu {
    position: fixed;
    top: 61px;
    left: -100%;
    transition: 0.5s;
    background: linear-gradient(180deg, #432702 0%, rgba(67, 39, 2, 1) 100%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    padding: 23px 15px 30px;
    color: #FFDAA2;
    max-width: 320px;
    width: 100%;
    z-index: 10;
}

.dropdown-menu.is-active {
    left: 0;
}

.dropdown-menu_top-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;

    li {
        margin-bottom: 22px;
        margin-right: 36px;
    }

    a {
        font-size: 22px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.dropdown-menu_big-links {
    padding-top: 10px;

    a {
        display: block;
        max-width: 290px;
        width: 100%;
        padding: 20px 28px;
        text-align: center;
    }

    li {
        &:not(:last-child) {
            margin-bottom: 17px;
        }

        &:last-child {
            text-align: center;
        }
    }
}

.email-footer {
    font-size: 20px;
    padding-left: 31px;
    background: url("../img/email-footer.png") no-repeat left center;
}

.footer {
    background: url("../img/podval.jpg") no-repeat center;
    background-size: cover;
    color: #FFDAA2;
    padding: 43px 19px;
    @media(min-width: 1600px) {
        padding: 43px 100px;
    }
    @media(min-width: 1900px) {
        padding: 43px 160px;
    }
}

.phone-footer {
    font-size: 24px;
    font-family: "SFProDisplay";
    font-weight: 400;
    padding-left: 31px;
    background: url("../img/call-footer.png") no-repeat left center;
}

.footer__info {
    span {
        color: rgba(255, 218, 162, 0.69);
        font-size: 20px;
        display: block;
        margin-bottom: 19px;
    }

    li {
        margin-bottom: 19px;
    }
}

.footer__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media(max-width: 767px) {
        align-items: center;
    }
    @media(min-width: 768px) {
        flex-direction: row;
        justify-content: space-around;
    }

    .footer__item {
        margin-bottom: 25px;
        @media(min-width: 768px) {
            width: 50%;
        }

        &:first-child {
            @media(max-width: 767px) {
                order: 1;
            }
            @media(min-width: 1280px) {
                max-width: 270px;
                width: 100%;
            }
        }

        &:last-child {
            @media(min-width: 1280px) {
                max-width: 1190px;
                width: 100%;
                padding-left: 50px;
            }
        }
        @media(min-width: 768px) and (max-width: 1279px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    @media(min-width: 500px) and (max-width: 767px) {
        justify-content: space-around;
    }
    @media(min-width: 1280px) {
        justify-content: space-between;
        border-bottom: 1px solid #A8916F;
        padding-bottom: 42px;
        margin-bottom: 40px;
    }

    li {
        margin-bottom: 10px;
        @media(max-width: 1279px) {
            &:nth-child(2) {
                order: 1;
                width: 100%;

                a {
                    display: block;
                    max-width: 335px;
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                }
            }

            &:nth-child(3) {
                order: 2;
                width: 100%;

                a {
                    display: block;
                    max-width: 335px;
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
    }

    a {
        font-size: 18px;
        display: inline-block;
        padding: 11px 20px;
    }
}

.footer__title {
    font-size: 22px;
    font-weight: 700;
    position: relative;
    margin-bottom: 29px;
    @media(max-width: 374px) {
        font-size: 17px;
    }
    @media(max-width: 767px) {
        display: inline-block;
    }
    @media(min-width: 375px) and (max-width: 767px) {
        font-size: 21px;
    }
    @media(min-width: 1280px) and (max-width: 1599px) {
        font-size: 19px;
    }

    &:after {
        content: '';
        position: absolute;
        left: -25px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 32px;
        color: #FFDAA2;
        font-weight: 700;
    }

    span {
        background: linear-gradient(to right, #FBEAC5, #CC844D);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.footer__list-wrap {
    @media(max-width: 767px) {
        text-align: center;
    }
    @media(min-width: 1280px) {
        display: flex;
        justify-content: space-between;
    }

    .footer__column {
        margin-bottom: 31px;
    }
}

.copy {
    text-align: center;
    margin-bottom: 26px;
    color: rgba(255, 218, 162, 0.69);
    font-size: 14px;
    @media(min-width: 1280px) {
        text-align: left;
        margin-bottom: 8px;
    }
}

.developer {
    span {
        color: rgba(255, 218, 162, 0.69);
        border-bottom: 1px solid rgba(255, 218, 162, 0.69);
        display: inline-block;
        margin-right: 20px;
        @media(max-width: 1279px) {
            display: none;
        }
    }
    @media(min-width: 1280px) {
        a {
            display: flex;
            align-items: center;
        }
    }
}

.metr {
    @media(min-width: 1280px) {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 33px;
    }
}

.footer__bottom {
    @media(min-width: 1280px) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .footer__item:last-child {
        @media(max-width: 1279px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.footer__column {
    padding: 0 15px;
}

.footer__list {
    li {
        color: rgba(255, 218, 162, 0.69);

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    a {
        font-size: 20px;
        @media(max-width: 374px) {
            font-size: 18px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer__title_first:after {
    content: '1';
}

.footer__title_second:after {
    content: '2';
}

.footer__title_third:after {
    content: '3';
}

.copy__img {
    margin-bottom: 20px;
    padding-top: 50px;
    @media(min-width: 1280px) {
        display: none;
    }
}

.footer__logo {
    margin-bottom: 35px;

    .logo__article {
        li {
            &:first-child {
                font-size: 17px;
            }

            &:last-child {
                font-size: 30px;
            }
        }
    }
}

.main-slider {
    width: 100%;
    height: 864px;
    @media(max-width: 991px) {
        height: 428px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
    }

    .swiper-pagination-bullet {
        background: rgba(255, 218, 161, 1);
        opacity: 0.5;
        width: 10px;
        height: 10px;
    }

    .swiper-pagination-bullet-active {
        background: #FFDAA1;
        opacity: 1;
    }

    .swiper-button-prev {
        background: url("../img/prev.png") no-repeat center;
    }

    .swiper-button-next {
        background: url("../img/next.png") no-repeat center;
    }

    .link-border {
        position: absolute;
        z-index: 200;
        left: 50%;
        top: 5%;
        transform: translateX(-50%);
        @media(min-width: 992px) {
            display: none;
        }
    }
}

.link-border {
    color: #FFDAA2;
    font-size: 22px;
    padding: 11px 48px;
    border-radius: 5px;
    border: 1px solid rgba(255,218,161,0.43);
}

.main-slider__cont {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 23%;
    z-index: 200;
    text-align: center;
    @media(max-width: 991px) {
        top: 75%;
        width: 100%;
    }

    .main-slider__column {
        &:first-child {
            background: rgba(111,93,69,0.9) url("../img/fons.png") no-repeat center;
            background-size: cover;
            border-radius: 5px;
            overflow: hidden;
            padding: 38px 65px;
            margin-bottom: 38px;
            @media(max-width: 991px) {
                display: none;
            }
            @media(max-width: 1599px) {
                padding: 28px 40px;
            }
        }
    }
}

.main-slider__text,
.main-slider__text span {
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 700;
    display: inline-block;
    background: linear-gradient(to right, #FBEAC5, #CC844D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #FFDAA1;
    @media(max-width: 1599px) {
        font-size: 29px;
    }
    @media(min-width: 1600px) and (max-width: 1799px) {
        font-size: 45px;
    }
}

.main-slider__text span {
    text-transform: lowercase;
    font-size: 65px;
    font-weight: 400;
    @media(max-width: 1599px) {
        font-size: 29px;
    }
    @media(min-width: 1600px) and (max-width: 1799px) {
        font-size: 50px;
    }
}

.main-slider__article {
    li {
        &:first-child {
            margin-bottom: 21px;
        }

        &:last-child {
            color: #FFDAA1;
            font-size: 26px;
            @media(max-width: 1599px) {
                font-size: 18px;
            }
        }
    }
}

.about-apartament {
    margin-bottom: 37px;
    padding-top: 30px;
}

.plan-tabs {
    margin-bottom: 26px;
    padding-top: 40px;

    &__inner {
        border-bottom: 1px solid #FFDAA2;

        .container {
            display: flex;
            justify-content: space-between;
            @media(max-width: 1899px) {
                padding-left: 65px;
                padding-right: 65px;
            }
        }
    }
}

.plan-tabs__btn {
    display: inline-block;
    position: relative;
    color: #B48542;
    font-size: 28px;
    padding-bottom: 25px;
    font-weight: 500;
    opacity: 0.6;
    @media(max-width: 1279px) {
        font-size: 18px;
    }
    @media(min-width: 1280px) and (max-width: 1365px) {
        font-size: 24px;
    }
}

.plan-tabs__btn.is-active {
    opacity: 1;
    border-bottom: 4px solid #C39D69;
}

.plan-tabs__count {
    position: absolute;
    top: -28px;
    right: -46px;
    background: #B48542;
    width: 47px;
    height: 47px;
    border-radius: 10em;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan-slider {
    width: 500px;
    height: 396px;
    background: #FFEFCF;

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: #EFD5AB;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        width: 12px;
        height: 12px;
        background: #B48542;
    }

    .swiper-button-next {
        background: url("../img/arrow-right.png") no-repeat center;
        right: 20px;
    }

    .swiper-button-prev {
        background: url("../img/arrow-left.png") no-repeat center;
        left: 20px;
    }
}

.plan-slider-wrap {
    display: flex;
    width: 790px;
    box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto 25px;
    @media(min-width: 1800px) {
        margin: 17px;
    }

    .tab-slider__column {
        &:nth-child(2) {
            width: 340px;
            background: #FFE0B1;
            padding: 38px 45px 10px;
        }
    }
}

.info-about {
    font-size: 20px;
    color: #CBA064;
    font-weight: 500;
}

.info-data {
    color: #B48542;
    font-size: 32px;
    font-weight: 600;

    span {
        font-size: 22px;
    }

    sup {
        font-size: 12px;
    }
}

.tab-slider__info {
    .info-about,
    .info-data {
        margin-bottom: 7px;
    }
}

.tab-slider__btn {
    margin-top: 25px;
    width: 100%;
    text-align: center;
    font-size: 22px;
}

.tab-slider__quote {
    width: 790px;
    margin: 26px auto 20px;
    padding: 20px 0 20px 40px;
    position: relative;
    border-left: 3px solid #E7C597;
    font-size: 19px;
    color: #999999;

    &:after {
        content: '';
        position: absolute;
        left: -60px;
        top: 0;
        width: 21px;
        height: 18px;
        background: url("../img/quote.png") no-repeat center;
    }
}

.tab-slider__title {
    color: #B48542;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
}

.plan-slider__img {
    max-width: 300px;
    width: 100%;
    text-align: center;
}

.plan-slider {
    width: 450px;
}

.tab-cont_first {
    background: url("../img/ap-1.png") no-repeat right;
}
.tab-cont_second {
    background: url("../img/ap-2.png") no-repeat right;
}
.tab-cont_third {
    background: url("../img/ap-3.png") no-repeat right;
}

.tab-slider {
    padding-bottom: 84px;

    .swiper-pagination_main {
        .swiper-pagination-bullet {
            width: 37px;
            height: 37px;
            text-align: center;
            line-height: 20px;
            font-size: 20px;
            color: white;
            opacity: 0.6;
            background: #D89E50;
            border-radius: 2px;
            line-height: 37px;
        }

        .swiper-pagination-bullet-active {
            opacity: 1;
        }
    }

    .swiper-button-next_main {
        background: url("../img/next.png") no-repeat center;
        top: 53.5%;
        right: 50px;
        opacity: 1;
        @media(max-width: 1799px) {
            right: 30px;
        }
    }

    .swiper-button-prev_main {
        background: url("../img/arrow-left.png") no-repeat center;
        top: 53.5%;
        left: 50px;
        opacity: 1;
        @media(max-width: 1799px) {
            left: 30px;
        }
    }
}

.tab-slider__block {
    @media(min-width: 1800px) {
        display: flex;
        justify-content: center;
    }
}
