.header {
    @media(max-width: 1279px) {
        height: 61px;
    }
}

.header_main {
    @media(min-width: 1280px) {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 100;
    }
}

.header__top {
    background: url("../img/header.png") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 24px;
    @media(max-width: 1279px) {
        display: none;
    }
}

.container {
    max-width: 1630px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.wow {
    visibility: hidden;
}

.main-title {
    text-align: center;
    color: #B48542;
    font-weight: 500;
    font-size: 38px;
    margin-bottom: 15px;
    @media(max-width: 992px) {
        font-size: 24px;
    }
}

.logo {
    display: flex;
    align-items: center;

    &__img {
        margin-right: 6px;
    }
}

.btn {
    display: inline-block;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
    background: #C4994C;
    border-radius: 4px;
    transition: 0.5s;

    &:hover {
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
        background: #CBA053;
    }
}

.main-text {
    p {
        font-family: "SFProDisplay";
        font-size: 20px;
        color: #999999;
        @media(max-width: 991px) {
            font-size: 16px;
        }
    }
}

.logo__article {
    font-family: "TTPhobos";
    color: #FFDAA2;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;

    li {
        line-height: 24px;

        &:first-child {
            font-size: 13px;
            @media(max-width: 1599px) {
                font-size: 12px;
            }
        }

        &:last-child {
            font-size: 22px;
            @media(max-width: 1599px) {
                font-size: 20px;
            }
        }
    }
}

.main-nav {
    ul {
        display: flex;
        align-items: center;

        li {
            &:not(:last-child) {
                margin-right: 25px;
            }
        }
    }

    a {
        color: #FFDAA2;
        font-size: 22px;
        display: inline-block;
        padding: 11px 20px;
        @media(max-width: 1599px) {
            font-size: 14px;
        }
        @media(min-width: 1600px) and (max-width: 1799px) {
            font-size: 18px;
        }
    }
}

.logo__img_header {
    width: 187px;
}

.main-nav__border {
    border: 1px solid rgba(255, 218, 161, 0.43);
    border-radius: 4px;
}

.phone-header {
    color: white;
    font-size: 29px;
    font-weight: 500;
    display: inline-block;
    position: relative;
    padding-left: 36px;
    background: url("../img/call-icon.png") no-repeat left center;
    background-size: 28px 28px;
    @media(max-width: 1599px) {
        font-size: 16px;
    }
}

.header__bottom {
    background: rgba(67, 39, 2, 0.78);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    color: #FFDAA2;
    padding: 17px 10px;
    display: flex;
    align-items: center;
    position: relative;
    @media(max-width: 1279px) {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 200;
    }
    @media(min-width: 1280px) {
        padding: 17px 20px;
    }
    @media(min-width: 1800px) {
        padding: 17px 152px;
    }
}

.type-list {
    display: flex;
    @media(max-width: 991px) {
        display: none;
    }

    li {
        &:not(:last-child) {
            margin-right: 80px;
            @media(max-width: 1279px) {
                margin-right: 20px;
            }
        }
    }

    a {
        display: inline-block;
        font-size: 22px;
        @media(min-width: 1280px) {
            padding-left: 35px;
        }
        @media(max-width: 1599px) {
            font-size: 14px;
        }
    }
}

.dropdown-menu_bottom-list {
    li {
        margin-bottom: 28px;
    }

    a {
        display: inline-block;
        padding-left: 25px;
        position: relative;
        font-size: 18px;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
        }
    }

    .type-first:after {
        background: url("../img/level-icon-1.png") no-repeat center;
        height: 1px;
        background-size: contain;
    }

    .type-second:after {
        background: url("../img/level-icon-2.png") no-repeat center;
        background-size: contain;
    }

    .type-third:after {
        background: url("../img/level-icon-3.png") no-repeat center;
        background-size: contain;
    }
}

.favor {
    margin-left: auto;
    margin-right: 48px;
    width: 27px;
    height: 27px;
    background: url("../img/heart.png") no-repeat center;
    background-size: contain;
    position: relative;
    @media(max-width: 991px) {
        margin-right: 20px;
    }
}

.favor__count {
    position: absolute;
    top: -5px;
    right: -18px;
    width: 24px;
    height: 24px;
    background: #FFDAA2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #432702;
    font-size: 14px;
    border-radius: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adress {
    font-size: 18px;
    padding-left: 34px;
    background: url("../img/near-me.png") no-repeat left center;
    background-size: 24px 24px;
    @media(max-width: 991px) {
        display: none;
    }
    @media(max-width: 1599px) {
        font-size: 15px;
    }
}

.footer__adress {
    display: inline-block;
    font-size: 20px;
}

.adress_mob {
    display: inline-block;
    margin-top: 15px;
}

.phone-header_mob {
    font-size: 18px;
    background-size: 18px 18px;
    padding-left: 25px;
    margin-left: auto;
    @media(min-width: 992px) {
        display: none;
    }
}

.burger {
    width: 28px;
    height: 22px;
    background: url("../img/burger.png") no-repeat center;
    background-size: contain;
    cursor: pointer;
    @media(min-width: 992px) {
        display: none;
    }
}

.burger.is-active {
    background: url("../img/close.png") no-repeat center;
}

.logo-mobile {
    padding: 2px 5px 7px;
    background: url("../img/header.png") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    @media(min-width: 1280px) {
        display: none;
    }

    .logo__img {
        position: relative;
        top: 4px;
    }

    .logo__article {
        li {
            &:first-child {
                font-size: 16px;
            }

            &:last-child {
                font-size: 27px;
            }
        }
    }
}

.overflow-hidden {
    overflow-y: hidden;
}

.header-height-fixed {
    @media(min-width: 1280px) {
        height: 156px;
    }
}

.dropdown-menu {
    position: fixed;
    top: 61px;
    left: -100%;
    transition: 0.5s;
    height: calc(100% - 61px);
    background: linear-gradient(180deg, #432702 0%, rgba(67, 39, 2, 1) 100%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    padding: 23px 15px 30px;
    color: #FFDAA2;
    max-width: 375px;
    width: 100%;
    z-index: 20;
    overflow-y: auto;
    @media(min-width: 375px) {
        padding: 23px 20px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.dropdown-menu.is-active {
    left: 0;
}

.dropdown-menu_top-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    @media(min-width: 375px) {
        padding-left: 35px;
    }

    li {
        margin-bottom: 22px;
        margin-right: 36px;
    }

    a {
        font-size: 22px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.dropdown-menu_big-links {
    padding-top: 10px;

    a {
        display: block;
        max-width: 290px;
        width: 100%;
        padding: 20px 28px;
        text-align: center;
    }

    li {
        margin-bottom: 17px;

        &:last-child {
            text-align: center;
        }
    }
}

.email-footer {
    font-size: 20px;
    padding-left: 31px;
    background: url("../img/email-footer.png") no-repeat left center;
}

.footer {
    background: url("../img/podval.jpg") no-repeat center;
    background-size: cover;
    color: #FFDAA2;
    padding: 43px 19px;
    @media(max-width: 767px) {
        background: #665A48 url("../img/bg-footer-mob.png") no-repeat center;
        background-size: cover;
    }
    @media(min-width: 1600px) {
        padding: 43px 100px;
    }
    @media(min-width: 1900px) {
        padding: 43px 160px;
    }
}

.phone-footer {
    font-size: 24px;
    font-family: "SFProDisplay";
    font-weight: 400;
    padding-left: 31px;
    background: url("../img/call-footer.png") no-repeat left center;
}

.footer__info {
    span {
        font-family: "Gilroy";
        font-weight: 300;
        color: rgba(255, 218, 162, 0.6);
        font-size: 20px;
        display: block;
        margin-bottom: 19px;
    }

    li {
        margin-bottom: 19px;
    }
}

.footer__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media(max-width: 767px) {
        align-items: center;
    }
    @media(min-width: 768px) {
        flex-direction: row;
        justify-content: space-around;
    }

    .footer__item {
        margin-bottom: 25px;
        @media(min-width: 768px) {
            width: 50%;
        }

        &:first-child {
            font-family: "SFProDisplay";
            @media(max-width: 767px) {
                order: 1;
            }
            @media(min-width: 1280px) {
                max-width: 280px;
                width: 100%;
            }
        }

        &:last-child {
            @media(min-width: 1280px) {
                max-width: 1190px;
                width: 100%;
                padding-left: 50px;
            }
        }
        @media(min-width: 768px) and (max-width: 1279px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    @media(min-width: 500px) and (max-width: 767px) {
        justify-content: space-around;
    }
    @media(min-width: 1280px) {
        justify-content: space-between;
        border-bottom: 1px solid #A8916F;
        padding-bottom: 42px;
        margin-bottom: 40px;
    }

    li {
        margin-bottom: 10px;
        @media(max-width: 1279px) {
            &:nth-child(2) {
                order: 1;
                width: 100%;

                a {
                    display: block;
                    max-width: 335px;
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                }
            }

            &:nth-child(3) {
                order: 2;
                width: 100%;

                a {
                    display: block;
                    max-width: 335px;
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
    }

    a {
        font-size: 18px;
        display: inline-block;
        padding: 11px 20px;
        @media(min-width: 1500px) {
            font-size: 22px;
        }
    }
}

.footer__title {
    font-size: 22px;
    font-weight: 700;
    position: relative;
    margin-bottom: 29px;
    @media(max-width: 374px) {
        font-size: 17px;
    }
    @media(max-width: 767px) {
        display: inline-block;
    }
    @media(min-width: 375px) and (max-width: 767px) {
        font-size: 21px;
    }
    @media(min-width: 1280px) and (max-width: 1599px) {
        font-size: 19px;
    }

    &:after {
        content: '';
        position: absolute;
        left: -25px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 32px;
        color: #FFDAA2;
        font-weight: 700;
    }

    span {
        background: linear-gradient(to right, #FBEAC5, #CC844D);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.footer__list-wrap {
    @media(max-width: 767px) {
        text-align: center;
    }
    @media(min-width: 1280px) {
        display: flex;
        justify-content: space-between;
    }

    .footer__column {
        margin-bottom: 31px;
    }
}

.copy {
    text-align: center;
    margin-bottom: 26px;
    color: rgba(255, 218, 162, 0.69);
    font-size: 14px;
    @media(min-width: 1280px) {
        text-align: left;
        margin-bottom: 8px;
    }
}

.developer {
    span {
        color: rgba(255, 218, 162, 0.69);
        border-bottom: 1px solid rgba(255, 218, 162, 0.69);
        display: inline-block;
        margin-right: 20px;
        @media(max-width: 1279px) {
            display: none;
        }
    }
    @media(min-width: 1280px) {
        a {
            display: flex;
            align-items: center;
        }
    }
}

.metr {
    @media(min-width: 1280px) {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 33px;
    }
}

.footer__bottom {
    @media(min-width: 1280px) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .footer__item:last-child {
        @media(max-width: 1279px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.footer__column {
    padding: 0 15px;
}

.logo__img_footer {
    max-width: 288px;
}

.footer__list {
    li {
        color: rgba(255, 218, 162, 0.6);

        &:not(:last-child) {
            margin-bottom: 14px;
        }
    }

    a {
        font-size: 18px;
        @media(max-width: 374px) {
            font-size: 18px;
        }

        &:hover {
            text-decoration: underline;
            color: rgba(255, 218, 162, 1);
        }
    }
}

.footer__title_first:after {
    content: '1';
}

.footer__title_second:after {
    content: '2';
}

.footer__title_third:after {
    content: '3';
}

.copy__img {
    margin-bottom: 20px;
    padding-top: 50px;
    @media(min-width: 1280px) {
        display: none;
    }
}

.footer__logo {
    margin-bottom: 35px;
    align-items: flex-start;

    .logo__article {
        padding-top: 22px;

        li {
            &:first-child {
                font-size: 19px;
                margin-bottom: 10px;
            }

            &:last-child {
                font-size: 32px;
            }
        }
    }
}

.arh-slider,
.layout-slider,
.main-slider {
    width: 100%;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        background: url("../img/bullet-bg.png") no-repeat center;
        z-index: 10;
        @media(max-width: 991px) {
            background: url("../img/bullet-bg-mob.png") no-repeat center;
        }
    }

    .swiper-pagination {
        z-index: 20;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
    }

    .swiper-pagination-bullet {
        background: rgba(255, 218, 161, 1);
        opacity: 0.5;
        width: 10px;
        height: 10px;
    }

    .swiper-pagination-bullet-active {
        background: #FFDAA1;
        opacity: 1;
    }

    .swiper-button-prev {
        background: url("../img/prev.png") no-repeat center;
    }

    .swiper-button-next {
        background: url("../img/next.png") no-repeat center;
    }
}

.main-slider {
    height: 100vh;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: rgba(12, 2, 2, 0.22);
    }

    .link-border {
        position: absolute;
        z-index: 200;
        left: 50%;
        top: 5%;
        transform: translateX(-50%);
        @media(min-width: 992px) {
            display: none;
        }
    }
    @media(max-width: 991px) {
        height: 428px;
    }
    @media(min-width: 992px) and (max-width: 1279px) {
        height: 600px;
    }
}

.main-slider__btn {
    @media(min-width: 1280px) {
        font-size: 30px;
        padding: 30px 50px;
    }
}

.link-border {
    color: #FFDAA2;
    font-size: 22px;
    padding: 11px 48px;
    border-radius: 5px;
    border: 1px solid rgba(255,218,161,0.43);
}

.main-slider__cont {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 23%;
    z-index: 200;
    text-align: center;
    @media(max-width: 991px) {
        top: 75%;
        width: 100%;
    }

    .main-slider__column {
        &:first-child {
            background: rgba(111,93,69,0.9) url("../img/fons.png") no-repeat center;
            background-size: cover;
            border-radius: 5px;
            overflow: hidden;
            padding: 38px 65px;
            margin-bottom: 38px;
            @media(max-width: 991px) {
                display: none;
            }
            @media(max-width: 1599px) {
                padding: 28px 40px;
            }
        }
    }
}

.main-slider__text,
.main-slider__text span {
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 700;
    display: inline-block;
    background: linear-gradient(to right, #FBEAC5, #CC844D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #FFDAA1;
    @media(max-width: 1599px) {
        font-size: 29px;
    }
    @media(min-width: 1600px) and (max-width: 1799px) {
        font-size: 45px;
    }
}

.main-slider__text span {
    text-transform: lowercase;
    font-size: 65px;
    font-weight: 400;
    @media(max-width: 1599px) {
        font-size: 29px;
    }
    @media(min-width: 1600px) and (max-width: 1799px) {
        font-size: 50px;
    }
}

.main-slider__article {
    sup {
        font-size: 13px;
    }

    li {
        &:first-child {
            margin-bottom: 21px;
        }

        &:last-child {
            color: #FFDAA1;
            font-size: 26px;
            @media(max-width: 1599px) {
                font-size: 18px;
            }
        }
    }
}

.about-apartament {
    margin-bottom: 37px;
    padding-top: 30px;
}

.plan-tabs {
    margin-bottom: 26px;
    padding-top: 40px;
    @media(max-width: 991px) {
        display: none;
    }

    &__inner {
        border-bottom: 1px solid #FFDAA2;
        box-shadow: 0 7px 5px -1px rgba(236,236,236,1);

        .container {
            display: flex;
            justify-content: space-between;
            @media(max-width: 1899px) {
                padding-left: 65px;
                padding-right: 65px;
            }
        }
    }
}

.plan-tabs__btn {
    display: inline-block;
    position: relative;
    color: #B48542;
    font-size: 28px;
    padding-bottom: 25px;
    font-weight: 500;
    opacity: 0.6;
    @media(max-width: 1279px) {
        font-size: 18px;
    }
    @media(min-width: 1280px) and (max-width: 1599px) {
        font-size: 24px;
    }
}

.plan-tabs__btn.is-active {
    opacity: 1;
    border-bottom: 4px solid #C39D69;
}

.plan-btn__count,
.plan-tabs__count {
    position: absolute;
    top: -28px;
    right: -46px;
    background: #B48542;
    width: 47px;
    height: 47px;
    border-radius: 10em;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan-btn__count {
    position: static;
    width: 37px;
    height: 37px;
}

.plan-slider {
    width: 450px;
    height: 396px;
    background: #FFEFCF;

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: #EFD5AB;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        width: 12px;
        height: 12px;
        background: #B48542;
    }

    .swiper-button-next {
        background: url("../img/arrow-right.png") no-repeat center;
        right: 20px;
    }

    .swiper-button-prev {
        background: url("../img/arrow-left.png") no-repeat center;
        left: 20px;
    }
}

.plan-slider_mob {
    width: auto;
    margin-bottom: 15px;
    height: auto;
    padding: 40px 0 30px;

    .plan-slider__img {
        width: 195px;
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }
}

.plan-mob__list {
    .info-about {
        font-size: 18px;
        margin-right: 9px;
    }
}

.plan-mob__list_top {
    display: flex;
    justify-content: center;
    align-items: center;

    .info-data {
        font-size: 24px;
    }
}

.plan-slider-wrap {
    display: flex;
    width: 790px;
    box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto 25px;
    @media(min-width: 1800px) {
        margin: 17px;
    }

    .tab-slider__column {
        &:nth-child(2) {
            width: 340px;
            background: #FFE0B1;
            padding: 38px 45px 10px;
        }
    }
}

.info-about {
    font-size: 20px;
    color: #CBA064;
    font-weight: 500;
    @media(min-width: 1366px) and (max-width: 1599px) {
        font-size: 17px;
    }
}

.info-data {
    color: #B48542;
    font-size: 32px;
    font-weight: 600;

    span {
        font-size: 22px;
    }

    sup {
        font-size: 12px;
    }
}

.tab-slider__info {
    .info-about,
    .info-data {
        margin-bottom: 7px;
    }
}

.tab-slider__btn {
    margin-top: 25px;
    width: 100%;
    text-align: center;
    font-size: 22px;
    width: 219px;
    padding: 15px 0;
}

.tab-slider__quote {
    font-family: "SFProDisplay";
    width: 790px;
    margin: 26px auto 20px;
    padding: 20px 0 20px 40px;
    position: relative;
    border-left: 3px solid #E7C597;
    font-size: 19px;
    color: #999999;
    @media(max-width: 1365px) {
        background: white;
    }
    @media(min-width: 1366px) and (max-width: 1599px) {
        margin-left: 40px;
        padding-left: 20px;
    }
    @media(min-width: 1600px) and (max-width: 1799px) {
        margin-left: 100px;
    }

    &:after {
        content: '';
        position: absolute;
        left: -60px;
        top: 0;
        width: 21px;
        height: 18px;
        background: url("../img/quote.png") no-repeat center;
        @media(min-width: 1366px) and (max-width: 1599px) {
            left: -36px;
        }
    }
}

.tab-slider__title {
    color: #B48542;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
    @media(min-width: 1366px) and (max-width: 1599px) {
        font-size: 24px;
    }
}

.plan-slider__img {
    max-width: 300px;
    width: 100%;
    text-align: center;
}

.tab-cont_first {
    background: url("../img/ap-1.png") no-repeat right;
}

.tab-cont_second {
    background: url("../img/ap-2.png") no-repeat right;
}

.tab-cont_third {
    background: url("../img/ap-3.png") no-repeat right;
}

.tab-slider {
    padding-bottom: 84px;
    max-width: 1600px;
    width: 100%;
    @media(min-width: 1800px) {
        max-width: 1700px;
    }

    .swiper-pagination_main {
        .swiper-pagination-bullet {
            width: 37px;
            height: 37px;
            text-align: center;
            line-height: 20px;
            font-size: 20px;
            color: white;
            opacity: 0.6;
            background: #D89E50;
            border-radius: 2px;
            line-height: 37px;
        }

        .swiper-pagination-bullet-active {
            opacity: 1;
        }
    }

    .swiper-button-next_main {
        background: url("../img/next.png") no-repeat center;
        top: 53.5%;
        right: 0;
        opacity: 1;
        @media(max-width: 1799px) {
            right: 10px;
        }
    }

    .swiper-button-prev_main {
        background: url("../img/arrow-left.png") no-repeat center;
        top: 53.5%;
        left: 0;
        opacity: 1;
        @media(max-width: 1799px) {
            left: 10px;
        }
    }
}

.tab-cont {
    .tab-slider__block {
        max-width: 693px;
        width: 100%;
        margin: 0 auto;
        box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.15);
        @media(min-width: 1366px) and (max-width: 1599px) {
            max-width: 599px;
        }

        .tab-slider__column {
            @media(min-width: 992px) {
                width: 50%;
            }

            &:first-child {
                background: #FFEFCF;
                @media(min-width: 992px) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &:last-child {
                background: #FFE0B2;
                padding: 38px 47px;
                @media(min-width: 1366px) and (max-width: 1599px) {
                    padding: 20px 33px;
                }
            }
        }
        @media(min-width: 992px) {
            display: flex;
            justify-content: center;
        }
    }
}

.plan-image {
    max-width: 287px;
    width: 100%;
    text-align: center;
}

.plan-mob {
    margin-bottom: 27px;
    @media(min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    @media(min-width: 992px) {
        display: none;
    }

    .tab-slider__btn {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.plan-mob__column {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
}

.plan-mob__item {
    background: #FFE0B2;
    text-align: center;
    padding: 55px 10px 26px;
    margin-top: -54px;
    margin-bottom: 40px;
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: 0.2s;

    .plan-slider {
        background: inherit;
    }
}

.plan-mob__item.active {
    visibility: visible;
    height: auto;
    opacity: 1;
}

.plan-btn {
    width: 288px;
    margin: 0 auto 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 15px 17px 65px;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;

    &:after {
        content: '';
        position: absolute;
        width: 20px;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }
}

.plan-btn_first:after {
    height: 1px;
    background: url("../img/line-light-1.png") no-repeat center;
}

.plan-btn_second:after {
    height: 10px;
    background: url("../img/line-light-2.png") no-repeat center;
}

.plan-btn_third:after {
    height: 19px;
    background: url("../img/line-light-3.png") no-repeat center;
}

.flat-info {
    margin-bottom: 40px;
    position: relative;
    @media(max-width: 991px) {
        display: none;
    }
}

.flat-info__back,
.flat-info__front {
    position: relative;
}

.flat-info__layer {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    transition: 0.4s;

    &:hover {
        opacity: 1;

        .flat-about {
            visibility: visible;
            transform: scale(1);
        }
    }
}

.flat-about {
    position: absolute;
    width: 140px;
    text-align: center;
    visibility: hidden;
    z-index: 20;
    transition: 0.4s;
    transform: scale(0.7);
    @media(max-width: 1599px) {
        width: 120px;
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
            color: #B48542;
            font-size: 40px;
            font-weight: 600;
            @media(max-width: 1599px) {
                font-size: 30px;
            }

            b {
                font-size: 28px;
                padding-left: 5px;
                @media(max-width: 1599px) {
                    font-size: 25px;
                }

                sup {
                    font-size: 15px;
                }
            }
        }

        &:first-child,
        &:last-child {
            background: #FFDAA1;
            height: 140px;
            @media(max-width: 1599px) {
                height: 110px;
            }
        }

        &:nth-child(2) {
            background: #FBEAC5;
            height: 92px;
        }
    }
}

.flat-about__title {
    color: #B48542;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    @media(max-width: 1599px) {
        font-size: 16px;
    }
}

.flat-info__btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    z-index: 20;
    @media(max-width: 1599px) {
        top: 10px;
    }
}

.layer-8 {
    width: 15%;
    top: 64%;
    left: 13%;
}

.layer-16 {
    top: 12%;
    left: 10%;
    width: 25%;
}

.flat-about_8 {
    top: -95%;
    left: 106%;
}

.flat-about_16 {
    top: 0;
    left: 98%;
}

.layer-15 {
    top: 12%;
    left: 33.5%;
    width: 21%;
}

.flat-about_15 {
    top: 0;
    left: 106%;
}

.layer-14 {
    top: 12%;
    left: 54.5%;
    width: 21%;
}

.flat-about_14 {
    top: 0;
    left: 106%;
}

.layer-13 {
    top: 12%;
    right: 4.5%;
    width: 20%;
}

.flat-about_13 {
    top: 0;
    right: 106%;
}

.layer-7 {
    top: 64%;
    left: 39.4%;
    width: 15%;
}

.flat-about_7 {
    top: -97.5%;
    left: 106%;
}

.layer-6 {
    width: 15%;
    top: 64%;
    right: 30.5%;
}

.flat-about_6 {
    top: -97.5%;
    left: 106%;
}

.layer-5 {
    width: 15%;
    top: 64%;
    right: 4.5%;
}

.flat-about_5 {
    top: -89%;
    right: 106%;
}

.layer-1 {
    top: 54%;
    left: 4%;
    width: 25.5%;
}

.layer-2 {
    top: 54%;
    left: 29.5%;
    width: 21.5%;
}

.layer-3 {
    top: 54%;
    left: 50.8%;
    width: 21.5%;
}

.layer-4 {
    top: 54%;
    left: 72.2%;
    width: 24.5%;
}

.layer-9 {
    top: 34.4%;
    left: 4%;
    width: 25.4%;
}

.layer-10 {
    top: 34.4%;
    left: 29.5%;
    width: 21.5%;
}

.layer-11 {
    top: 34.4%;
    left: 51%;
    width: 21.4%;
}

.layer-12 {
    top: 34.4%;
    right: 3.3%;
    width: 24.5%;
}

.flat-about_1 {
    left: 105%;
    top: -88%;
}

.flat-about_2,
.flat-about_3 {
    left: 104%;
    top: -88%;
}

.flat-about_4 {
    right: 104%;
    top: -88%;
}

.flat-about_9 {
    left: 104%;
    top: -78%;
}

.flat-about_10,
.flat-about_11 {
    left: 105%;
    top: -78%;
}

.flat-about_12 {
    right: 105%;
    top: -78%;
}

.flat-info__back {
    display: none;
}

.table-block__title {
    color: #B48542;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 21px;
    @media(max-width: 767px) {
        font-size: 18px;
    }
}

.table-info {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 23px;
    @media(max-width: 374px) {
        font-size: 10px;
    }
    @media(min-width: 375px) and (max-width: 767px) {
        font-size: 12px;
    }

    sup {
        font-size: 12px;
        @media(max-width: 767px) {
            font-size: 8px;
        }
    }

    thead {
        background: rgba(67, 39, 2, 0.85);
        color: #FFDAA2;
    }

    tbody,
    thead {
        tr {
            td {
                padding: 19px 0 21px;

                &:first-child {
                    padding-left: 62px;
                    @media(max-width: 768px) {
                        padding-left: 10px;
                    }
                }

                &:not(:first-child) {
                    text-align: center;
                }
                @media(max-width: 1279px) {
                    &:nth-child(2),
                    &:nth-child(4) {
                        display: none;
                    }
                }
            }
        }
    }

    tbody {
        tr {
            background: rgba(255, 218, 161, 0.43);

            &:nth-child(even) {
                background: rgba(255, 218, 161, 0.2);
            }

            &:hover {
                background: #F5A05E;
            }

            td {
                color: rgba(67, 39, 2, 0.78);

                &:last-child {
                    @media(max-width: 1279px) {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.three-level,
.two-level {
    @media(min-width: 1280px) {
        thead {
            display: none;
        }
    }
}

.location-info {
    padding-top: 40px;
}

.location-info__inner {
    padding-top: 15px;
    position: relative;
    @media(max-width: 767px) {
        max-width: 655px;
        width: 100%;
        margin: 0 auto;

        img {
            width: 100%;
        }
    }
    @media(min-width: 768px) {
        display: flex;
    }
}

.location-info__item {
    position: relative;
    overflow: hidden;

    img {
        display: block;
        transition: 0.5s;
    }

    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

.marker {
    position: absolute;
    width: 40px;
    @media(max-width: 767px) {
        width: 55px;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
    }
    @media(min-width: 768px) {
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
    @media(min-width: 1280px) {
        width: 55px;
        top: 24px;
    }
}

.location-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 124px;
    background: linear-gradient(123.43deg, rgba(54, 32, 2, 0.5307) 1.93%, rgba(107, 88, 61, 0.6177) 97.95%);
    padding-top: 5px;
    @media(max-width: 1279px) {
        height: 80px;
    }

    &__item {
        &:first-child {
            font-weight: 500;
            font-size: 28px;
            color: #FFDAA2;
            margin-bottom: 5px;
            @media(max-width: 767px) {
                font-size: 18px;
            }
            @media(min-width: 768px) and (max-width: 1279px) {
                font-size: 16px;
            }
        }

        &:last-child {
            font-size: 50px;
            color: #FFDAA2;
            font-weight: 500;
            @media(max-width: 1279px) {
                font-size: 25px;
            }

            span {
                font-size: 28px;
                @media(max-width: 1279px) {
                    font-size: 18px;
                }
            }
        }
    }
}

.hide {
    display: none;
}

.location-info__item_right {
    @media(max-width: 767px) {
        .location-overlay {
            padding-left: 20px;
        }
    }
    @media(min-width: 768px) {
        text-align: right;

        .location-overlay {
            padding-right: 20px;
            @media(min-width: 1600px) {
                padding-right: 100px;
            }
            @media(min-width: 1900px) {
                padding-right: 150px;
            }
        }
    }
}

.location-info__item_center {
    .location-overlay {
        padding-right: 20px;
        @media(max-width: 767px) {
            height: 100%;
        }
    }
}

.location-info__item_left {
    .location-overlay {
        padding-left: 20px;
        @media(min-width: 1600px) {
            padding-left: 100px;
        }
        @media(min-width: 1900px) {
            padding-left: 150px;
        }
    }
}

.line-block {
    position: absolute;
    z-index: 10;
    @media(max-width: 767px) {
        right: 35px;
        width: auto;
        height: 80%;
        top: 50%;
        transform: translateY(-50%);
    }
    @media(min-width: 768px) {
        bottom: 30px;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        position: relative;
        @media(max-width: 767px) {
            flex-direction: column;
            height: 100%;
        }

        &:after {
            content: '';
            position: absolute;
            width: 14px;
            height: 14px;
            background: url("../img/ellipse.png") no-repeat center;
            background-size: contain;
            @media(max-width: 767px) {
                right: -7px;
                top: -14px;
            }
            @media(min-width: 768px) {
                left: -14px;
                bottom: -6px;
            }
        }

        &:before {
            content: '';
            position: absolute;
            width: 14px;
            height: 14px;
            background: url("../img/ellipse.png") no-repeat center;
            background-size: contain;
            @media(max-width: 767px) {
                right: -7px;
                bottom: -14px;
            }
            @media(min-width: 768px) {
                right: -14px;
                bottom: -6px;
            }
        }
    }

    &__item {
        width: 48%;
        border-bottom: 1px solid rgba(255, 218, 161, 0.78);
        @media(max-width: 767px) {
            border-left: 1px solid rgba(255, 218, 161, 0.78);
            border-bottom: none;
            width: 1px;
            height: 47.4%;
        }
        @media(min-width: 992px) {
            width: 48.5%;
        }
        @media(min-width: 1100px) {
            width: 49%;
        }

        &:first-child {
            @media(min-width: 410px) and (max-width: 509px) {
                height: 48%;
            }
            @media(min-width: 510px) and (max-width: 767px) {
                height: 48.5%;
            }
        }

        &:last-child {
            @media(max-width: 409px) {
                height: 45%;
            }
            @media(min-width: 410px) and (max-width: 509px) {
                height: 46%;
            }
            @media(min-width: 509px) and (max-width: 767px) {
                height: 47%;
            }
        }
    }
}

.location-info__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    @media(min-width: 768px) {
        display: none;
    }
}

.line-block__ellipse {
    position: absolute;
    width: 24px;
    height: 24px;
    background: url("../img/ellipse.png") no-repeat center;
    @media(max-width: 767px) {
        display: none;
    }
    @media(min-width: 768px) {
        left: 50%;
        transform: translateX(-50%);
        bottom: -11px;
    }
}

.adress-info {
    background: linear-gradient(92.44deg, rgba(54, 32, 2, 0.87) 1.93%, rgba(107, 88, 61, 0.8004) 97.95%);
    padding: 25px 15px;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
    @media(max-width: 1279px) {
        left: 0;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    @media(min-width: 1280px) {
        width: 699px;
        height: 699px;
        border-radius: 100%;
        top: -150px;
        left: -97px;
        padding-left: 85px;
        padding-top: 177px;
    }
}

.adress-info__list {
    color: #FFDAA2;

    li {
        &:first-child,
        &:nth-child(2) {
            span {
                background: linear-gradient(to right, #FBEAC5, #CC844D);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 60px;
                color: #FBEAC5;
                @media(max-width: 1279px) {
                    font-size: 35px;
                }
            }
        }

        &:nth-child(2) {
            span {
                font-weight: 700;
                font-size: 80px;
                text-transform: uppercase;
                @media(max-width: 1279px) {
                    font-size: 45px;
                }
            }
        }

        &:nth-child(3) {
            max-width: 466px;
            width: 100%;
            font-size: 20px;
            margin: 13px 0 48px;
        }

        &:last-child {
            text-align: center;
            padding-top: 37px;
            font-size: 20px;
            @media(min-width: 1280px) {
                text-align: left;
                padding-left: 123px;
            }
        }
    }
}

.main-map {
    height: 1000px;
    position: relative;
    overflow: hidden;
    @media(min-width: 1280px) {
        height: 611px;
    }
}

.main-title_banks {
    padding-bottom: 20px;
}

.partners__btn-block {
    text-align: center;
    padding-top: 40px;
}

.header__logo.sticky-el {
    align-items: flex-start;
    padding-top: 5px;
    @media(max-width: 1599px) {
        left: 10px;
        top: 0;
    }
}

.sticky-el {
    @media(min-width: 1280px) {
        position: fixed;
        z-index: 120;

        .logo__img {
            width: 110px;
            margin-right: 8px;
        }

        .logo__article {
            padding-top: 1px;
        }
    }
}

.phone-header.sticky-el {
    @media(min-width: 1280px) {
        right: 24px;
        font-size: 24px;
        background-size: 22px 22px;
    }
}
@media(min-width: 1600px) {
    .type-list__first {
        background: url("../img/level-icon-1.png") no-repeat left center;
    }

    .type-list__second {
        background: url("../img/level-icon-2.png") no-repeat left center;
    }

    .type-list__third {
        background: url("../img/level-icon-3.png") no-repeat left center;
    }
}

.stickytop {
    @media(min-width: 1280px) {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;

        .adress {
            visibility: hidden;
            font-size: 18px;
        }

        .type-list li:not(:last-child) {
            margin-right: 20px;
        }
    }

    .type-list {
        @media(min-width: 1280px) {
            padding-left: 130px;
        }
        @media(min-width: 1366px) {
            padding-left: 160px;
        }
        @media(min-width: 1600px) {
            padding-left: 250px;
        }
        @media(min-width: 1800px) {
            padding-left: 64px;
        }
        @media(min-width: 1900px) {
            padding-left: 100px;
        }
    }
    @media(max-width: 1799px) {
        .type-list {
            a {
                background: none;
                font-size: 14px;
            }
        }
    }
}

.about-page {
    margin-bottom: 43px;
}

.about-page__tab-link {
    padding: 6px 0 18px 16px;
    @media(max-width: 1279px) {
        display: none;
    }
    @media(min-width: 1280px) {
        padding-top: 25px;
    }

    li {
        &:not(:last-child) {
            margin-bottom: 12px;
            @media(min-width: 768px) and (max-width: 1279px) {
                margin-bottom: 0;
            }
            @media(min-width: 1600px) {
                margin-bottom: 28px;
            }
        }
    }

    a {
        color: rgba(216, 158, 80, 0.6);
        font-size: 24px;
        font-weight: 500;
        display: inline-block;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 1px;
            width: 24px;
            background: #B48542;
            display: none;
        }
    }

    a.is-active {
        color: #B48542;
        padding-left: 36px;

        &:after {
            display: block;
        }
    }
}

.num-block {
    width: 156px;
    height: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 96px;
    font-weight: 500;
    background: #FFD492;
    position: absolute;
    z-index: 10;
    @media(max-width: 1279px) {
        right: 0;
        top: 0;
        width: 80px;
        height: 80px;
        font-size: 50px;
    }
    @media(min-width: 1280px) {
        top: 31.9%;
        left: -156px;
    }
    @media(min-width: 1600px) {
        top: 31.3%;
    }
}

.info-block__title {
    margin-bottom: 35px;

    span {
        font-size: 26px;
        font-weight: 700;
        background: linear-gradient(to right, #FBEAC5, #CC844D);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media(min-width: 1600px) {
            font-size: 50px;
        }
    }
}

.info-block {
    padding: 15px 16px;
    background: linear-gradient(128.18deg, rgba(54, 32, 2, 0.7221) 0%, rgba(107, 88, 61, 0.8004) 99.32%);
    position: relative;
    transition: 0.5s;

    &:after {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        width: 65px;
        height: 65px;
        background: url("../img/line-bg.png") no-repeat center;
        transform: rotate(180deg);
        display: none;
        @media(min-width: 1280px) {
            display: block;
        }
        @media(min-width: 1800px) {
            top: 60px;
            left: 60px;
        }
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 65px;
        height: 65px;
        background: url("../img/line-bg.png") no-repeat center;
        display: none;
        @media(min-width: 1280px) {
            display: block;
        }
        @media(min-width: 1800px) {
            bottom: 60px;
            right: 60px;
        }
    }
    @media(min-width: 1280px) {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 10;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media(min-width: 1800px) {
        width: 814px;
    }
}

.info-block__inner {
    @media(min-width: 1280px) {
        max-width: 480px;
        width: 100%;
    }
}

.info-block__article {
    p {
        color: #FFDAA2;
        font-size: 18px;
        padding-bottom: 20px;
        @media(min-width: 1600px) {
            font-size: 24px;
        }
    }
}

.main-title_inner {
    text-align: left;
    padding-top: 20px;
    @media(max-width: 1279px) {
        font-size: 38px;
        padding-left: 15px;
    }
}

.building-img {
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
    @media(max-width: 1279px) {
        display: none;
    }
    @media(min-width: 1280px) {
        position: absolute;
        left: -553px;
        bottom: 0;
        width: 553px;
        height: 396px;
        z-index: 10;
    }
}

.about-page__top {
    position: relative;
    @media(min-width: 1280px) {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.about-page__tab-block {
    position: relative;
}

.about-page__item {
    @media(min-width: 1280px) {
        display: flex;
    }

    .about-page__column {
        position: relative;

        &:first-child {
            @media(min-width: 1280px) {
                width: 400px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            @media(min-width: 1600px) {
                width: 553px;
            }
        }

        &:last-child {
            @media(min-width: 1280px) {
                height: 803px;
                width: calc(100% - 400px);

                .about-page__tab-block {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    visibility: hidden;
                }

                .about-page__tab-block.show {
                    opacity: 1;
                    visibility: visible;
                    z-index: 10;
                }

                &:hover {
                    .info-block {
                        visibility: hidden;
                        opacity: 0;
                    }

                    .arh-slider:after,
                    .arh-slider__btn,
                    .layout-slider:after,
                    .swiper-pagination {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
            @media(min-width: 1600px) {
                width: calc(100% - 553px);
            }
        }
    }
}

.about-map {
    height: 428px;
    @media(min-width: 1280px) {
        height: 803px;
    }
}

.arh-slider,
.layout-slider {
    height: 428px;
    @media(min-width: 1280px) {
        height: 803px;

        &:after,
        .swiper-pagination {
            visibility: hidden;
            transition: 0.5s;
            opacity: 0;
        }
    }
}

.info-block__list {
    font-size: 18px;
    color: #FFDAA2;

    li {
        margin-bottom: 14px;
    }

    span {
        font-size: 20px;
    }

    b {
        font-size: 24px;
        font-weight: 500;
    }

    sup {
        font-size: 12px;
    }
}

.arh-slider__btn {
    position: absolute;
    z-index: 10;
    text-align: center;
    transition: 0.5s;
    @media(max-width: 1279px) {
        width: 287px;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
    }
    @media(min-width: 1280px) {
        width: 317px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        visibility: hidden;
        opacity: 0;
    }
}

.local-slider {
    @media(min-width: 769px) {
        display: none;
    }
}

.contacts {
    margin-bottom: 40px;
}

.contact-info {
    padding: 22px 24px;
    color: #FFDAA2;
    background: linear-gradient(270deg, rgba(67, 39, 2, 0.9) 0%, rgba(67, 39, 2, 0.783) 100%);
    @media(min-width: 992px) {
        max-width: 350px;
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 10;

        &_top {
            top: 0;
        }

        &_bottom {
            bottom: 0;
            padding-top: 5px;
        }
    }
    @media(min-width: 1600px) {
        max-width: 474px;
    }

    .footer__info {
        li {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.form-title {
    font-size: 38px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 26px;
    @media(max-width: 991px) {
        font-size: 30px;
    }
}
@media(min-width: 992px) {
    .form-title_bottom-border {
        border-bottom: 1px solid rgba(255, 218, 161, 0.4);
    }

    .form-title_top-border {
        padding-top: 25px;
        border-top: 1px solid rgba(255, 218, 161, 0.4);
        padding-bottom: 0;
    }
}

.form-title_bottom-border {
    @media(max-width: 991px) {
        display: none;
    }
}

.form-title_top-border {
    padding-bottom: 0;
}

.inp,
.textarea {
    width: 100%;
    background: none;
    border: 1px solid rgba(255, 218, 161, 0.4);
    border-radius: 4px;
    font-size: 20px;
    color: inherit;
    padding-left: 55px;
    margin-bottom: 18px;
}

.textarea {
    resize: none;
    padding-top: 13px;
    height: 72px;
    background: url("../img/comment.png") no-repeat left 20px top 14px;
}

.inp {
    height: 52px;
}

.inp_name {
    background: url("../img/person.png") no-repeat left 20px center;
}

.inp_phone {
    background: url("../img/call-icon-green.png") no-repeat left 20px center;
}

.contact-info__item {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
}

.recall-form__btn {
    width: 100%;
    height: 66px;
    font-size: 22px;
}

.recall-form__person {
    font-size: 16px;
    padding-top: 17px;

    a {
        opacity: 0.5;

        &:hover {
            text-decoration: underline;
        }
    }
}

.contacts__map {
    height: 494px;
    @media(min-width: 992px) {
        height: 879px;
    }
}

.contacts__inner {
    position: relative;
    @media(min-width: 992px) {
        margin-top: 20px;

        .main-title {
            display: none;
        }
    }
}

.mortgage-form {
    max-width: 450px;
    width: 100%;
    margin: 0 auto 25px;
    padding: 48px 65px;
    background: #FFEFCF;
    box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    .main-title {
        margin-bottom: 24px;
    }
    @media(max-width: 991px) {
        padding: 29px 18px;
    }

    input {
        width: 100%;
    }
}

.mortgage-form__btn {
    width: 100%;
    height: 76px;
}

.mortgage {
    background: url("../img/ip-bg.jpg") no-repeat center;
    background-size: cover;
    padding-bottom: 50px;
    @media(min-width: 1280px) {
        padding-bottom: 100px;
    }
}

.mortgage__title {
    font-size: 38px;
    font-weight: 500;
    color: #B48542;
    margin-bottom: 25px;
    padding-top: 10px;
    @media(min-width: 768px) {
        text-align: center;
    }
}

.mortgage-info {
    color: #B48542;

    li {
        background: #FFFFFF;
        border-radius: 4px;
        padding: 18px 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 25px;
        @media(min-width: 1280px) {
            padding: 22px 16px;
        }

        .mortgage-info__item {
            text-align: center;
            @media(max-width: 991px) {
                margin-bottom: 14px;
            }

            span {
                display: block;
                font-size: 18px;
                font-weight: 500;
                @media(max-width: 991px) {
                    font-size: 14px;
                }
            }

            b {
                font-size: 28px;
                font-weight: 700;
            }

            &:first-child {
                width: 100px;
                text-align: center;
            }

            &:not(:last-child) {
                @media(max-width: 699px) {
                    width: 50%;
                }
                @media(min-width: 700px) and (max-width: 991px) {
                    width: 25%;
                }
                @media(min-width: 992px) and (max-width: 1279px) {
                    width: 19%;
                }
            }

            &:last-child {
                width: 100%;
                @media(min-width: 992px) {
                    width: 23%;
                }
                @media(min-width: 1280px) {
                    display: none;
                }
            }
        }
    }
}

.scrollbar-slider {
    width: 100%;
    @media(min-width: 1280px) {
        height: 640px;
        padding-right: 30px;
    }

    .swiper-slide {
        height: auto;
    }

    .swiper-scrollbar {
        width: 18px;
        border-radius: 0;
        background: #D9D9D9;
        opacity: 1;
        right: 0;

        .swiper-scrollbar-drag {
            background: rgba(255, 218, 161, 0.78);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 0;
        }
    }
}

.mortgage__inner {
    display: flex;
    flex-direction: column;
    @media(min-width: 1280px) {
        flex-direction: row;
    }

    .mortgage__column {
        &:first-child {
            @media(max-width: 1279px) {
                order: 1;
            }
        }

        &:last-child {
            @media(min-width: 1280px) {
                width: calc(100% - 450px);
                padding-left: 24px;
            }
        }
    }
}
