.apartaments {
	padding: 0 ;
	padding-bottom: 77px;
}

.apartaments .breadcrumbs {
	margin-bottom: 20px;
}

.breadcrumbs {
	font-family: "SFProDisplay";
	font-size: 18px;
	line-height: 25px;

	display: flex;
	flex-wrap: wrap;

	margin-top: 16px;
	margin-left: -7px;
}

.breadcrumbs li {
	position: relative;

	margin-left: 7px;
	padding-right: 27px;
	padding-top: 2px;
	padding-bottom: 2px;

	&::after {
		content: "";

		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);

		background-image: url("../img/arrow.png");
		background-repeat: no-repeat;
		background-position: 0 0;

		width: 22px;
		height: 8px;
	}

	&:last-child {
		&::after {
			display: none;
		}
	}
}

.breadcrumbs a[href] {
	color: #D8C5AB;
	border-bottom: 1px solid #D8C5AB;
}

.breadcrumbs a:not(href) {
	color: #B48542;
}

/* Apartaments 
=============================================*/
/* Partner */
.partners {
	position: relative;

	margin-bottom: 88px;
}

.partners h1 {
	margin-bottom: 35px;
}

.partners .item {
	text-align: center;
	
	@media (max-width : 767px) {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}	
	}

	span {
		display: inline-block;
		height: 60px;
	}
}

.partners .owl-nav {
	@media (min-width : 1920px) {
		display: block !important;
	}
}

.partners .owl-prev, .partners .owl-next {
	position: absolute;
	top: 50%;

	margin-top: -32px;

	background-color: transparent;

	@media (min-width : 1920px) {
		margin-top: -16px;
	}
}

.partners .owl-prev span, .partners .owl-next span{
	background-image: url("../img/arrow-left.png");
	display: block;

	font-size: 0;

	width: 18px;
	height: 32px;
}

.partners .owl-prev {
	left: 0;

	@media (min-width : 1920px) {
		left: -78px
	}
}

.partners .owl-next {
	right: 0;
	transform: rotate(180deg);

	@media (min-width : 1920px) {
		right: -78px
	}
}

.partners .sberbank {
	width: 235px;
}

.partners .vtb {
	width: 108px;
}

.partners .gazprom {
	width: 233px;
}

.partners .dom {
	width: 141px;
}

.partners .rosbank {
	width: 85px;
}

.partners .alfa {
	width: 242px;
}

.partners .sovkom {
	width: 241px;
}

/* Street */
.apartaments-street {
	margin-bottom: 33px;
}

.apartaments-street .img-block {
	display: block;
	
	@media (min-width : 768px) {
		height: 300px;

		img {
			height: 100%;
		}
	}

	@media (min-width : 1630px) {
		height: 369px;
	}
}

.apartaments-street .owl-nav {
	@media (min-width : 1200px) {
		display: block !important;
	}
}

.apartaments-street  .owl-prev, .apartaments-street  .owl-next {
	position: absolute;
	top: 50%;
	
	margin-top: -16px;

	background-color: transparent;
}

.apartaments-street .owl-prev span, .apartaments-street .owl-next span{
	background-image: url("../img/prev.png");
	display: block;

	font-size: 0;

	width: 18px;
	height: 32px;
}

.apartaments-street  .owl-prev {
	left: 20px;

	@media (min-width : 1200px) {
		left: 60px;
	}
}

.apartaments-street  .owl-next {
	right: 20px;
	transform: rotate(180deg);

	@media (min-width : 1200px) {
		right: 60px;
	}
}

/* Layered
=================================== */
.layered__description {
	font-family: "SFProDisplay";
	font-size: 17px;
	font-weight: 400;
	line-height: 22px;
	color: rgba(0, 0, 0, 0.4);

	max-width: 1610px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 38px;

	@media (min-width : 768px) {
		font-size: 20px;
		line-height: 25px;
	}
}

.layered .is-active {
	border-bottom: none;
	opacity: 0.6;
}

.layered .plan-tabs__btn {
	opacity: 0.6;
	border-bottom: 4px solid #C39D69;


	max-width: 200px;

	@media (min-width : 480px) {
		max-width: 300px;
	}

	@media (min-width : 768px) {
		max-width: 100%;
	}	
}

.layered .plan-tabs__btn:hover {
	opacity: 1;
	@media (min-width : 768px) {
		border-bottom: 4px solid #C39D69;
	}
}

.layered .plan-tabs__count {
	right: 5px;

	@media (min-width : 480px) {
		right: -55px;
	}

	@media (min-width : 768px) {
		right: 35px;
	}

	@media (min-width : 891px) {
		right: -40px;
		top: -45px;
	}

	@media (min-width : 892px) {
		right: -46px;
		top: -28px;
	}
}

.layered .plan-tabs__links {
	@media (max-width : 767px) {
		flex-direction: column;
		align-items: center;


		a {
			margin-bottom: 20px;
			border-bottom: none;
		}
	}
}

.layered .plan-tabs__inner {
	@media (max-width : 767px) {
		border-bottom: none;
	}
}

/*.apartaments__schemes
====================================================*/
.apartaments__schemes {
	margin-bottom: 48px;
}

.apartaments__schemes-tabs {
	display: flex;
	flex-direction: column;

	@media (min-width : 576px) {
		flex-direction: row;
		flex-direction: row;
		margin-left: -30px;
	}
	
	margin-bottom: 20px;

	@media (min-width : 1280px) {
		margin-left: 0;
		margin-bottom: 0;
		flex-direction: column;
	}
}

.apartaments__schemes-tabs li{
	display: flex;
	align-items: center;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}

	@media (min-width : 576px) {
		
		margin-left: 30px;
		margin-bottom: 0;
	}



	@media (min-width : 1280px) {
		margin-bottom: 30px;

		margin-left: 0px;	
	}
	
	@media (min-width : 1980px) {
		margin-bottom: 41px;
	}
}

.apartaments__schemes-tabs .active {
	background-color: #B48542;
	color: #ffffff;
}

.apartaments__schemes .tab-slider__column:nth-of-type(1) {
	background-color: #FFEFCF;
	position: relative;
	padding: 20px;

	@media (min-width : 1280px) {
		width: 320px;
	}

	@media (min-width : 1600px) {
		max-width: 380px;
		width: 100%;
	}

	@media (min-width : 1920px) {
		width: 463px;
		max-width: 100%;

		padding-top: 47px;
		padding-right: 30px;
		padding-left: 134px;

		.info-data {
			font-size: 40px;
		}
	}
}

.apartaments__schemes .tab-slider__column:nth-of-type(2) {
	width: auto;
	padding: 0;

	@media (min-width : 1600px) {
		max-width: 936px;
		width: 100%;
	}

	@media (min-width : 1920px) {
		width: 926px;
		max-width: 100%;
	}
}


.apartaments__schemes .tab-slider__column:nth-of-type(3) {
	background: #FFE0B1;
	padding: 20px;

	@media (min-width : 768px) {
		padding-top: 20px;
		padding-left: 20px;
	}

	@media (min-width : 1280px) {
		width: 320px;
		padding-top: 60px;
	}

	@media (min-width : 1600px) {
		max-width: 380px;
		width: 100%;
	}

	@media (min-width : 1920px) {
		max-width: 100%;
		width: 450px;
	}

	.tab-silder__info-right {
		@media (min-width : 576px) {
			display: flex;
			margin-left: -30px;
			margin-bottom: 20px;
		}
		@media (min-width : 1280px) {
			margin-left: 0;
			padding: 20px;
			display: block;
		}

		@media (min-width : 1920px) {
			padding: 0;
		}
	}

	@media (min-width : 1280px) {
		position: relative;
		padding: 0;
	}

	@media (min-width : 1920px) {
		width: 463px;

		padding-top: 95px;
		padding-left: 65px;
		padding-right: 5px;
	}
}
.apartaments__schemes-title {
	margin-bottom: 30px;
}

.apartaments__schemes-tabs__btn {
	width: 40px;
	height: 40px;
	margin-right: 25px;

	background-color: #fff;
	border: 2px solid #B48542;
	border-radius: 50%;
	text-align: center;

	font-family: "Gilroy";
	font-weight: 500;
	font-size: 38px;
	line-height: 37px;

	color: #B48542;

	@media (min-width : 1920px) {
		width: 76px;
		height: 76px;
		line-height: 74px;
	}
}

.apartaments__schemes .plan-slider-wrap {

	flex-direction: column;

	@media (min-width : 1280px) {
		flex-direction: row;
		max-width: 1852px;
		width: 100%;
	}

	@media (min-width : 1600px) and (max-width: 1919px) {
		* {
			font-size: 18px;
		}
	}

	@media (max-width : 1599px) {
		* {
			font-size: 16px;
		}
	}
}

.apartaments .plan-slider-wrap {
	width: 100%;
	margin: 0 auto;

	@media (min-width : 768px) {
		max-width: 800px;
	}

	@media (min-width : 1280px) {
		width: 1260px;
		max-width: 100%;
	}

	@media (min-width : 1600px) {
		width: auto;
	}

	@media (min-width : 1920px) {
		width: 1872px;
	}
}

.apartaments__schemes .plan-slider {
	width: 100%;

	@media (min-width : 768px) {
		height: 330px;
	}
	
	@media (min-width : 1280px) {
		width: 690px;
		height: 400px;
	}

	@media (min-width : 1600px) {
		max-width: 936px;
		width: 100%;
	}

	@media (min-width : 1920px) {
		width: 926px;
		height: 600px;
	}
}

.apartaments__schemes .tab-slider__block {
	@media (min-width : 1080px) {
		display: block;
	}

	@media (min-width : 1920px) {
		display: flex;
	}
}

.apartaments__schemes .tab-slider__btn {
	max-width: 250px;
	margin: 0 auto;
	display: flex;
	justify-content: center;

	@media (min-width : 1280px) {
		width: 250px;
	}

	@media (min-width : 1600px) {
		width: 280px;
		max-width: 100%;
	}

	@media (min-width : 1920px) {
		width: 320px;
		max-width: 100%;
		display: block;
		margin: 0;
	}
}

.apartaments__schemes .tab-slider__info li {
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}

	@media (min-width : 576px) {
		margin-bottom: 0;
		margin-left: 30px;
	}

	@media (min-width : 1280px) {
		margin-bottom: 42px;
	}

	@media (min-width : 1920px) {
		.info-data {
			font-size: 40px;
		}

		&:last-child {
			margin-bottom: 38px;
		}
	}
}

.apartaments__schemes .swiper-pagination {
	bottom: 33px;
}

.apartaments__schemes .plan-slider__img {
	max-width: 100%;
}

.apartaments__schemes .tab-slider__column .description {
	

	background-color: #fff;
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	color: rgba(180, 133, 66, 0.7);

	padding: 10px;

	@media (min-width : 1280px) {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	@media (min-width : 1600px) {
		border-radius: 40px 20px 20px 4px;
		padding-left: 30px;
	}

	@media (min-width : 1920px) {
		border-radius: 100px 40px 40px 4px;

		font-size: 18px;
		padding: 32px 18px 32px 50px;
	}
}

.apartaments form {
	display: flex;
	flex-direction: column;
}

.apartament-modal {
	@media (min-width : 1280px) {
		position: absolute;
		top: 0;
		left: 0;
		transform: none;
		z-index: 0;
	}

	position: fixed;
	transform: translate(-50%, -50%);
	z-index: 999;
	top: 50%;
	left: 50%;
	display: none;
	background-color: #FFE0B1;

	max-width: 450px;
	width: 100%;
	padding: 38px 33px 24px;

	@media (min-width : 1280px) {
		padding: 10px 15px;	
	}

	@media (min-width : 1920px) {
		padding: 38px 33px 24px;
	}

	h3 {
		font-size: 32px;
		margin-bottom: 24px;

		@media (min-width : 1280px) {
			margin-bottom: 10px;
		}

		@media (min-width : 1920px) {
			margin-bottom: 24px;
		}
	}
}

.apartament-modal input[type="text"]{
	max-width: 340px;
	margin: 0 auto;
	margin-bottom: 24px;
	width: 100%;
	height: 60px;
	background-color: #FFFFFF;
	border-radius: 4px;
	border: none;	
	padding-left: 55px;
	padding-right: 20px;

	font-family: "Gilroy";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;

	color: rgba(180, 133, 66, 0.7);

	@media (min-width : 1200px) {
		margin-bottom: 10px;
		height: 50px;
	}

	@media (min-width : 1920px) {
		font-size: 20px;
		height: 60px;
		margin-bottom: 24px;
	}
}

.apartament-modal .name {
	background-image: url("../img/person.png");
	background-repeat: no-repeat;
	background-position: 20px center;
}

.apartament-modal .phone {
	background-image: url("../img/call-icon-green.png");
	background-repeat: no-repeat;
	background-position: 20px center;
}

.apartament-modal .message {
	background-image: url("../img/comment.png");
	background-repeat: no-repeat;
	background-position: 20px 20px;
}

.apartament-modal p {
	max-width: 303px;
	margin: 0 auto;
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #B48542;

	@media (min-width : 1280px) {
		font-size: 13px	!important;
		line-height: 16px;
	}

	@media (min-width : 1920px) {
		font-size: 16px !important;
		line-height: 20px;
	}

	a {
		opacity: 0.6
	}
}

.apartament-modal textarea {
	max-width: 340px;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 100%;
	height: 132px;
	background: #FFFFFF;
	border-radius: 4px;
	border: none;	
	padding-left: 55px;
	padding-top: 18px;
	padding-right: 20px;
	resize: none;

	font-family: "Gilroy";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;

	color: rgba(180, 133, 66, 0.7);

	@media (min-width : 1280px) {
		margin-bottom: 0px;

		height: 90px;
	}

	@media (min-width : 1920px) {
		margin-bottom: 24px;
		height: 132px;
	}
}

.apartament-modal input[type="text"]::placeholder,
.apartament-modal textarea::placeholder {
	color: rgba(180, 133, 66, 0.7);
}

.apartament-modal .modal-submit {
	margin-bottom: 17px;

	@media (min-width : 1280px) {
		font-size: 12px;
		margin-bottom: 10px;
		margin-top: 10px;
	}	

	@media (min-width : 1920px) {
		max-width: 100%;
		width: 340px;
		height: 76px;
		margin: 0 auto;
		margin-bottom: 16px;
		font-size: 22px;
		padding: 0;
	}
}

.apartament-modal .modal-close {
	font-size: 0;
	background-color: transparent;
	background-image: url("../img/close-icon.png");

	position: absolute;
	top: 33px;
	right: 27px;

	cursor: pointer;
	width: 24px;
	height: 24px;

	@media (min-width : 1280px) {
		top: 5px;
		right: 10px;
	}

	@media (min-width : 1920px) {
		top: 33px;
		right: 27px;
		width: 24px;
		height: 24px;
	}
}

.overlay {
	@media (max-width : 1279px) {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 998;
		display: none;

		width: 100%;
		height: 100%;

		background-color: rgba(0, 0, 0, 0.5);
	}
}

// .apartament__partners.partners .container{
// 	@media (min-width : 1920px) {
// 		max-width: 1736px;
// 	}
// }

